:host {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  min-height: 366px;
  max-width: 483px;

  img {
    margin: 15px;
  }
}
