<mat-sidenav-container class="bg-primary" autosize>
  <mat-sidenav class="bg-surface" mode="side" position="start" opened>
    <div class="sidenav-container">
      <div>
        <img class="logo" src="assets/logos/wogra-logo.svg" alt="Wogra Logo">
        <mat-nav-list class="nav-list">
          <mat-list-item [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
            <mat-icon matListIcon>apps</mat-icon>
            <span class="nav-caption">Dashboard</span>
          </mat-list-item>
          <mat-list-item style="display: none" [routerLinkActive]="['active']" [routerLink]="['/databag']">
            <mat-icon matListIcon>folder_open</mat-icon>
            <span class="nav-caption">Databags</span>
          </mat-list-item>
          <mat-list-item style="display: none" [routerLinkActive]="['active']" [routerLink]="['/settings']">
            <mat-icon matListIcon>settings</mat-icon>
            <span class="nav-caption">Settings</span>
          </mat-list-item>
          <mat-list-item style="display: none" [routerLinkActive]="['active']" [routerLink]="['/user']">
            <mat-icon matListIcon>perm_identity</mat-icon>
            <span class="nav-caption">User</span>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div>
        <div class="support-item">
          <app-support></app-support>
        </div>
        <mat-nav-list>
          <a target="_top" href="/logout">
            <mat-list-item style="display: none">
              <mat-icon matListIcon>keyboard_tab</mat-icon>
              <span class="nav-caption">Logout</span>
            </mat-list-item>
          </a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
