<form
  [formGroup]="createDatabagForm"
  (ngSubmit)="onSubmit()"
  aria-label="Form to create a databag"
  i18n-aria-label="@@databag.ariaLabels.createForm">
  <div class="data-section">
    <mat-form-field>
      <mat-label i18n="@@databag.table.name">Databag name</mat-label>
      <input
        matInput
        formControlName="databagName"
        data-testid="input-name"
        aria-label="Enter a name for the databag"
        i18n-aria-label="@@databag.createForm.enterName" />
      <mat-error
        *ngIf="databagName?.invalid && databagName?.touched"
        i18n="@@databag.createForm.nameRequired"
        >Databag name is required</mat-error
      >
      <mat-hint class="on-surface-text" i18n="@@databag.createForm.hintName"
        >Choose a meaningful name for your databag to easily identify
        it</mat-hint
      >
    </mat-form-field>
  </div>
  <app-element-divider></app-element-divider>
  <div class="upload-section">
    <div
      class="title-medium primary-text text-align-center"
      i18n="@@databag.createForm.uploadText">
      Upload your data
    </div>
    <ng-container *ngIf="localFileMode">
      <app-file-dropzone
        [invalid]="databagDataFile?.errors?.['invalidFileFormat']"
        [selectedFileName]="databagDataFile?.value.name"
        (fileDropped)="databagDataFileSelected($event)">
      </app-file-dropzone>
      <mat-error
        *ngIf="databagDataFile?.errors?.['invalidFileFormat']"
        class="error-text text-align-center"
        i18n="@@databag.createForm.wrongFileFormat"
        >The selected file must have one of the following formats:<br />
        <span *ngFor="let format of allowedFormats">{{ format }}&nbsp;</span>
      </mat-error>
      <app-new-button
        class="text-align-center"
        variant="text"
        size="small"
        (click)="toggleFileMode()"
        aria-label="Switch to using a source from the web"
        i18n-aria-label="@@databag.ariaLabels.toggleWebSource"
        i18n="@@databag.createForm.webSourceText"
        >Use data source from the web</app-new-button
      >
    </ng-container>
    <ng-container *ngIf="!localFileMode">
      <mat-form-field>
        <mat-label i18n="@@databag.createForm.enterUrl">
          Enter a URL
        </mat-label>
        <input
          matInput
          formControlName="databagDataUrl"
          aria-label="Enter the URL of the databag"
          i18n-aria-label="@@databags.ariaLabels.enterUrl" />
      </mat-form-field>
      <app-new-button
        class="text-align-center"
        variant="text"
        size="small"
        (click)="toggleFileMode()"
        aria-label="Switch to using local files"
        i18n-aria-labels="@@databag.ariaLabels.toggleLocalFile"
        i18n="@@databag.createForm.localSourceText"
        >Use data source from your computer</app-new-button
      >
    </ng-container>
    <app-documentation-hint-text></app-documentation-hint-text>
  </div>
  <div class="button-row">
    <app-new-button
      type="submit"
      variant="primary"
      size="medium"
      data-testid="submit-databag"
      [disabled]="createDatabagForm.invalid"
      aria-label="Submit the create databag form"
      i18n-aria-label="@@databag.ariaLabels.submitCreateForm"
      i18n="@@actions.submit"
      >Submit</app-new-button
    >
  </div>
</form>
