.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  .link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .link {
      cursor: pointer;
    }

    .icon {
      display: flex;
      padding: 0 0.5em;
    }
  }
}
