<app-os4ml-default-template data-testid="databag-page">
  <h1 header class="headline-1 primary-text">
    {{ 'databag.plural' | translate }}
  </h1>

  <div main class="actions">
    <app-databag-create-button
      (addDatabag)="addDatabag()"
      [type]="'primary'"
      data-testid="add-databag">
    </app-databag-create-button>
  </div>
  <ng-container main *ngIf="databags$ | async as databags">
    <app-databag-data-table
      [databags]="(databags$ | async) ?? []"
      (settingButton)="openDatabagSettingDialog($event)"
      (createSolutionButton)="openCreateSolutionStepperDialog($event)">
    </app-databag-data-table>
    <app-placeholder 
      *ngIf="!(databags | hasElements)"
      [type]="'noDataOnDatabags'"
      (addDatabag)="addDatabag()">
    </app-placeholder>

    <!-- <app-no-databags-placeholder
      *ngIf="!(databags | hasElements)"
      (addDatabagButton)="addDatabag()">
    </app-no-databags-placeholder> -->
  </ng-container>
</app-os4ml-default-template>
