<app-os4ml-default-template data-testid="solutions-page">
  <h1 header role="header" class="headline-large primary-text">
    {{ 'pages.solutions_page.title' | translate }}
  </h1>
  <div nav role="actions" class="actions">
    <app-databag-filter
      [databags]="(databags$ | async) ?? []"
      [defaultValue]="(databagId$ | async) ?? undefined"
      (databagChange)="onDatabagChanged($event)"></app-databag-filter>
    <div class="button-section">
      <app-databag-create-button [type]="'text'" (addDatabag)="addDatabag()">
      </app-databag-create-button>
      <app-solution-create-button
        [type]="'primary'"
        [disabled]="!(databags$ | async | hasElements)"
        (addSolution)="addSolution()">
      </app-solution-create-button>
    </div>
  </div>
  <ng-container main>
    <app-solution-data-table
      [solutions]="(solutions$ | async) ?? []"
      [databags]="(databags$ | async) ?? []"
      (solutionSettingButton)="openSolutionSettingDialog($event)"
      (createPredictionButton)="openCreatePredictionDialog($event)">
    </app-solution-data-table>
    <app-ml-entity-status-placeholder
      *ngIf="!(solutions$ | async | hasElements)"
      [hasSolutions]="solutions$ | async | hasElements"
      [hasDatabags]="databags$ | async | hasElements"
      (addDatabag)="addDatabag()"
      (addSolution)="addSolution()">
    </app-ml-entity-status-placeholder>
  </ng-container>
</app-os4ml-default-template>
