form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .data-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .upload-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .button-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
