.dialog-element {
  padding-top: 12px;
  padding-bottom: 17px;
}

.dialog-element-divider {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dialog-element-content {
  padding-left: 30px;
  padding-right: 30px;
}

.dialog-element-title {
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
}
