<button
  aria-label="Open databag context menu"
  i18n-aria-label="@@databagContextMenu.open"
  mat-icon-button
  role="button"
  [matMenuTriggerFor]="menu"
  data-testid="databag-menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" role="menu">
  <app-context-menu
    aria-label="Go to databag setting"
    i18n-aria-label="@@databagContextMenu.settings.ariaLabel"
    data-testid="databag-detail-button"
    [routerLink]="showDatabagDetailLink"
    menuDescription="Databag settings"
    i18n-menuDescription="@@databagContextMenu.settings"
    menuIcon="settings">
  </app-context-menu>
  <app-context-menu
    aria-label="Open dialog to create a solution"
    i18n-aria-label="@@solution.ariaLabels.openCreateDialog"
    data-testid="add-solution-menu-item"
    (click)="createSolutionButton.emit()"
    menuDescription="Create solution"
    i18n-menuDescription="@@solution.actions.create"
    menuIcon="add">
  </app-context-menu>
  <app-context-menu
    aria-label="Open dialog to delete the databag"
    i18n-aria-label="@@databag.ariaLabels.openDeleteDialog"
    (click)="deleteDatabagButton.emit()"
    menuDescription="Delete databag"
    i18n-menuDescription="@@databag.actions.delete"
    menuIcon="delete">
  </app-context-menu>
</mat-menu>
