<button
  [attr.aria-label]="
    'organisms.databag_data_table.actions.context_menu' | translate
  "
  mat-icon-button
  [matMenuTriggerFor]="menu"
  data-testid="databag-menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <app-context-menu
    [ariaLabel]="
      'organisms.databag_data_table.actions.settings.aria_label' | translate
    "
    data-testid="databag-settings-button"
    (click)="settingButton.emit()"
    menuDescription="{{
      'organisms.databag_data_table.actions.settings.tooltip' | translate
    }}"
    menuIcon="edit"></app-context-menu>
  <app-context-menu
    [ariaLabel]=" 'organisms.solution_create_button.label' | translate "
    data-testid="add-solution-menu-item"
    (click)="createSolutionButton.emit()"
    menuDescription="{{ 'organisms.solution_create_button.label' | translate }}"
    menuIcon="add"></app-context-menu>
</mat-menu>
