<table mat-table [dataSource]="solutions" data-testid="solution-table">
  <ng-container matColumnDef="solutionName">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{
        'organisms.solution_data_table.column_header.solution_name' | translate
      }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="databagName">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{
        'organisms.solution_data_table.column_header.databag_name' | translate
      }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ (element.databagId | getDatabagById)?.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="metrics">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{ 'organisms.solution_data_table.column_header.quality' | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <app-star-rating
        [rating]="element.metrics?.combined || 0"
        [numberStars]="5">
      </app-star-rating>
    </td>
  </ng-container>
  <ng-container matColumnDef="creationTime">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{ 'organisms.solution_data_table.column_header.runtime' | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <span class="mat-body-2 on-surface-text">
        <app-runtime-indicator
          [creationTime]="element.creationTime"
          [completionTime]="element.completionTime">
        </app-runtime-indicator>
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="creation">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{ 'organisms.solution_data_table.column_header.creation' | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <span class="mat-body-2 on-surface-text">
        {{ element.creationTime | localizedDate: 'dd.MM.yyyy' }}
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{ 'organisms.solution_data_table.column_header.status' | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <app-processing-status-indicator
        data-testid="solution-status-indicator"
        [shortStatus]="element.status | shortStatus">
      </app-processing-status-indicator>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'organisms.solution_data_table.column_header.actions' | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <app-icon-button
        data-testid="solution-settings-button"
        [routerLink]="['/solutions/detail', element.id]"
        [matTooltip]="
          'organisms.solution_data_table.actions.settings.tooltip' | translate
        "
        attr.aria-label="{{
          'organisms.solution_data_table.actions.settings.tooltip' | translate
        }}"
        class="mr-1"
        color="primary"
        icon="settings_applications">
      </app-icon-button>
      <app-icon-button
        class="mr-1"
        *ngIf="element.id && (element | isSolutionDone)"
        [routerLink]="['/predictions']"
        [queryParams]="{
          selectedDatabag: element.databagId,
          selectedSolution: element.id
        }"
        [matTooltip]="
          'organisms.solution_data_table.actions.show_predictions.tooltip'
            | translate
        "
        attr.aria-label="{{
          'organisms.solution_data_table.actions.show_predictions.tooltip'
            | translate
        }}"
        color="primary"
        icon="batch_prediction">
      </app-icon-button>
      <app-icon-button
        data-testid="create-prediction-button"
        (click)="createPredictionButton.emit(element.id)"
        [matTooltip]="'solution.detail.tooltips.add_prediction' | translate"
        attr.aria-label="{{
          'solution.detail.tooltips.add_prediction' | translate
        }}"
        color="primary"
        icon="add">
      </app-icon-button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    data-testid="solution-item"></tr>
</table>
