/* This class is used to apply the primary color as a background */
.primary {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

/* This class is used to apply the primary color to text */
.primary-text {
  color: var(--md-sys-color-primary);
}

/* This class is used to apply the primary container color as a background */
.primary-container {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

/* This class is used to apply the secondary color as a background */
.secondary {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
}

/* This class is used to apply the secondary container color as a background */
.secondary-container {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

/* This class is used to apply the secondary color to text */
.secondary-text {
  color: var(--md-sys-color-secondary);
}

/* This class is used to apply the tertiary color as a background */
.tertiary {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
}

/* This class is used to apply the tertiary container color as a background */
.tertiary-container {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

/* This class is used to apply the error color as a background */
.error {
  background-color: var(--md-sys-color-error);
  color: var(--md-sys-color-on-error);
}

/* This class is used to apply the error container color as a background */
.error-container {
  background-color: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
}

.error-text {
  color: var(--md-sys-color-error);
}

/* This class is used to apply the surface color as a background */
.surface {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.surface-container {
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
}

/* This class is used to apply a variant of the surface color as a background */
.surface-variant {
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
}

/* This class is used to apply the outline color as a background */
.outline {
  background-color: var(--md-sys-color-outline);
}

/* This class is used to apply the inverse of the surface color as a background */
.inverse-surface {
  background-color: var(--md-sys-color-inverse-surface);
  color: var(--md-sys-color-inverse-on-surface);
}

/* This class is used to apply the inverse primary color as a background */
.inverse-primary {
  background-color: var(--md-sys-color-inverse-primary);
  color: var(--md-sys-color-on-primary-container);
}

/* This class is used to apply the shadow color as a background */
.shadow {
  background-color: var(--md-sys-color-shadow);
}

/* This class is used to apply the shadow color to text */
.shadow-text {
  color: var(--md-sys-color-shadow);
}

/* This class is used to apply the surface tint color as a background */
.surface-tint {
  background-color: var(--md-sys-color-surface-tint);
}

/* This class is used to apply the surface tint color to text */
.surface-tint-text {
  color: var(--md-sys-color-surface-tint);
}

/* This class is used to apply the outline variant color as a background */
.outline-variant {
  background-color: var(--md-sys-color-outline-variant);
}

/* This class is used to apply the outline variant color to text */
.outline-variant-text {
  color: var(--md-sys-color-outline-variant);
}

/* This class is used to apply the scrim color as a background */
.scrim {
  background-color: var(--md-sys-color-scrim);
}

/* This class is used to apply the scrim color to text */
.scrim-text {
  color: var(--md-sys-color-scrim);
}
