@font-face {
  font-family: 'Avenir Book';
  src:
    local('Avenir Book'),
    url('/assets/fonts/AvenirLTPro-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Black';
  src:
    local('Avenir Black'),
    url('/assets/fonts/AvenirLTPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Atkinson Bold';
  src:
    local('Atkinson Bold'),
    url('/assets/fonts/Atkinson-Hyperlegible-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Atkinson Regular';
  src:
    local('Atkinson Regular'),
    url('/assets/fonts/Atkinson-Hyperlegible-Regular.ttf') format('truetype');
}

:root {
  --md-source: #2146f4;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #000f5d;
  --md-ref-palette-primary20: #001e92;
  --md-ref-palette-primary30: #002dcc;
  --md-ref-palette-primary40: #2146f4;
  --md-ref-palette-primary50: #4c69ff;
  --md-ref-palette-primary60: #7392ff;
  --md-ref-palette-primary70: #97aeff;
  --md-ref-palette-primary80: #bbceff;
  --md-ref-palette-primary90: #dee5ff;
  --md-ref-palette-primary95: #eff4ff;
  --md-ref-palette-primary99: #fbfdff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #010101;
  --md-ref-palette-secondary10: #0d0f1a;
  --md-ref-palette-secondary20: #1a1e32;
  --md-ref-palette-secondary30: #272c4b;
  --md-ref-palette-secondary40: #343b63;
  --md-ref-palette-secondary50: #4d5376;
  --md-ref-palette-secondary60: #666c8a;
  --md-ref-palette-secondary70: #7f849d;
  --md-ref-palette-secondary80: #999cb0;
  --md-ref-palette-secondary90: #b2b4c4;
  --md-ref-palette-secondary95: #cbcdd7;
  --md-ref-palette-secondary99: #f6f6f6;
  --md-ref-palette-secondary100: #fdfdfd;
  /* tertiary */
  --md-ref-palette-tertiary0: #23211f;
  --md-ref-palette-tertiary10: #272522;
  --md-ref-palette-tertiary20: #7e6f25;
  --md-ref-palette-tertiary30: #bba638;
  --md-ref-palette-tertiary40: #ffda3e;
  --md-ref-palette-tertiary50: #fae060;
  --md-ref-palette-tertiary60: #fbe577;
  --md-ref-palette-tertiary70: #fbe98d;
  --md-ref-palette-tertiary80: #fceda4;
  --md-ref-palette-tertiary90: #fdf2ba;
  --md-ref-palette-tertiary95: #fef6d0;
  --md-ref-palette-tertiary99: #fefae7;
  --md-ref-palette-tertiary100: #fffffd;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #191c1d;
  --md-ref-palette-neutral20: #2e3132;
  --md-ref-palette-neutral30: #444748;
  --md-ref-palette-neutral40: #5c5f5f;
  --md-ref-palette-neutral50: #747878;
  --md-ref-palette-neutral60: #8e9192;
  --md-ref-palette-neutral70: #a9acac;
  --md-ref-palette-neutral80: #c4c7c7;
  --md-ref-palette-neutral90: #e1e3e3;
  --md-ref-palette-neutral92: #e6e8e9;
  --md-ref-palette-neutral94: #eceeef;
  --md-ref-palette-neutral95: #eff1f1;
  --md-ref-palette-neutral96: #f2f4f4;
  --md-ref-palette-neutral90: #c9c9c9;
  --md-ref-palette-neutral98: #f8fafa;
  --md-ref-palette-neutral99: #fbfcff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #1e1e23;
  --md-ref-palette-neutral-variant10: #262933;
  --md-ref-palette-neutral-variant20: #313647;
  --md-ref-palette-neutral-variant30: #3c445b;
  --md-ref-palette-neutral-variant40: #46516f;
  --md-ref-palette-neutral-variant50: #5d6781;
  --md-ref-palette-neutral-variant60: #747d93;
  --md-ref-palette-neutral-variant70: #8b92a5;
  --md-ref-palette-neutral-variant80: #a2a8b7;
  --md-ref-palette-neutral-variant90: #babec9;
  --md-ref-palette-neutral-variant95: #d1d3db;
  --md-ref-palette-neutral-variant99: #e8e9ed;
  --md-ref-palette-neutral-variant100: #f6f6f8;
  /* error */
  --md-ref-palette-error0: #1f0404;
  --md-ref-palette-error10: #420909;
  --md-ref-palette-error20: #640e0e;
  --md-ref-palette-error30: #ffb6b6;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #e22d2d;
  --md-ref-palette-error60: #e96161;
  --md-ref-palette-error70: #ee8383;
  --md-ref-palette-error80: #f3a6a6;
  --md-ref-palette-error90: #f9dedc;
  --md-ref-palette-error95: #fceeee;
  --md-ref-palette-error99: #fff6f6;
  --md-ref-palette-error100: #fffcfc;

  /* light */
  /* sys colors */
  --md-sys-color-primary-light: var(
    --md-ref-palette-primary40
  ); /* High-emphasis fills, texts, and icons against surface */
  --md-sys-color-on-primary-light: var(
    --md-ref-palette-primary100
  ); /* Text and icons against primary */
  --md-sys-color-primary-container-light: var(
    --md-ref-palette-primary90
  ); /* Standout fill color against surface, for key components like FAB */
  --md-sys-color-on-primary-container-light: var(
    --md-ref-palette-primary10
  );
  --md-sys-color-primary-hover-light: #6E87F6;

  --md-sys-color-secondary-light: var(
    --md-ref-palette-secondary40
  ); /* Less prominent fills, text, and icons against surface */
  --md-sys-color-on-secondary-light: var(
    --md-ref-palette-secondar100
  ); /* Text and icons against secondary */
  --md-sys-color-secondary-container-light: var(
    --md-ref-palette-secondary90
  ); /* Less prominent fill color against surface, for recessive components like tonal buttons */
  --md-sys-color-on-secondary-container-light: var(
    --md-ref-palette-secondary10
  ); /* Text and icons against secondary container */

  --md-sys-color-tertiary-light: var(
    --md-ref-palette-tertiary40
  ); /* Complementary fills, text, and icons against surface */
  --md-sys-color-on-tertiary-light: var(
    --md-ref-palette-tertiary100
  ); /* Color for text and icons on tertiary color */
  --md-sys-color-tertiary-container-light: var(
    --md-ref-palette-tertiary90
  ); /* Light tertiary color for container backgrounds */
  --md-sys-color-on-tertiary-container-light: var(
    --md-ref-palette-tertiary10
  ); /* Color for text and icons on light tertiary containers */

  --md-sys-color-error-light: var(
    --md-ref-palette-error40
  ); /* Attention-grabbing color against surface for fills, icons, and text, indicating urgency */
  --md-sys-color-on-error-light: var(
    --md-ref-palette-error100
  ); /* Text and icons against error */
  --md-sys-color-error-container-light: var(
    --md-ref-palette-error90
  ); /* Attention-grabbing fill color against surface */
  --md-sys-color-on-error-container-light: var(
    --md-ref-palette-error10
  ); /* Text and icons against error container */

  /* Surface colors */
  --md-sys-color-surface-light: var(
    --md-ref-palette-neutral100
  ); /* Default color for backgrounds */
  --md-sys-color-on-surface-light: var(
    --md-ref-palette-neutral10
  ); /* Text and icons against any surface color */
  --md-sys-color-on-surface-variant-light: #40484d; /* Lower-emphasis color for text and icons against any surface color */

  /* Surface container */
  --md-sys-color-surface-container-lowest-light: #ffffff; /* Lowest-emphasis container color */
  --md-sys-color-surface-container-low-light: #F4F7FD; /* Low-emphasis container color */
  --md-sys-color-surface-container-light: #EDF2FC; /* Default container color */
  --md-sys-color-surface-container-high-light: #E4EBF9; /* High-emphasis container color */
  --md-sys-color-surface-container-highest-light: #D9E2F1; /* Highest-emphasis container color */

  /* Inverse colors */
  --md-sys-color-inverse-surface-light: var(
    --md-ref-palette-neutral-variant20
  ); /* Background fills for elements which contrast against surface */
  --md-sys-color-inverse-on-surface-light: var(
    --md-ref-palette-neutral-variant100
  ); /* Text and icons against inverse surface */
  --md-sys-color-inverse-primary-light: var(
    --md-ref-palette-primary80
  ); /* Inverse primary color, typically for major actionable elements */

  /* Outline */
  --md-sys-color-outline-light: var(
    --md-ref-palette-neutral80
  ); /* Important boundaries, such as a text field outline */
  --md-sys-color-outline-variant-light: var(
    --md-ref-palette-neutral-variant80
  ); /* Decorative elements, such as dividers */

  /* Add-on color roles */
  --md-sys-color-surface-dim-light: var(
    --md-ref-palette-neutral-variant800
  ); /* Dimmest surface color in light and dark themes */
  --md-sys-color-surface-bright-light: var(
    --md-ref-palette-neutral100
  ); /* Brightest surface color in light and dark themes */
  --md-sys-color-scrim-light: rgba(
    0,
    2,
    11,
    0.38
  ); /* Scrim color, typically used for overlay or backdrop elements to indicate modality or focus */
  --md-sys-color-shadow-light: var(
    --md-ref-palette-neutral0
  ); /* Color for shadows, typically used for depth effect on UI elements */

  /* dark */
  /* sys colors */
  --md-sys-color-primary-dark: var(
    --md-ref-palette-primary70
  ); /* High-emphasis fills, texts, and icons against surface */
  --md-sys-color-on-primary-dark: var(
    --md-ref-palette-primary0
  ); /* Text and icons against primary */
  --md-sys-color-primary-container-dark: var(
    --md-ref-palette-primary10
  ); /* Standout fill color against surface, for key components like FAB */
  --md-sys-color-on-primary-container-dark: var(
    --md-ref-palette-primary90
  ); 
  --md-sys-color-primary-hover-dark: #A8C6FD;

  --md-sys-color-secondary-dark: var(
    --md-ref-palette-secondary99
  ); /* Less prominent fills, text, and icons against surface */
  --md-sys-color-on-secondary-dark: var(
    --md-ref-palette-secondary20
  ); /* Text and icons against secondary */
  --md-sys-color-secondary-container-dark: var(
    --md-ref-palette-secondary30
  ); /* Less prominent fill color against surface, for recessive components like tonal buttons */
  --md-sys-color-on-secondary-container-dark: var(
    --md-ref-palette-secondary90
  ); /* Text and icons against secondary container */

  --md-sys-color-tertiary-dark: var(
    --md-ref-palette-tertiary80
  ); /* Complementary fills, text, and icons against surface */
  --md-sys-color-on-tertiary-dark: var(
    --md-ref-palette-tertiary0
  ); /* Color for text and icons on tertiary color */
  --md-sys-color-tertiary-container-dark: var(
    --md-ref-palette-tertiary20
  ); /* Light tertiary color for container backgrounds */
  --md-sys-color-on-tertiary-container-dark: var(
    --md-ref-palette-tertiary99
  ); /* Color for text and icons on light tertiary containers */

  --md-sys-color-error-dark: var(
    --md-ref-palette-error80
  ); /* Attention-grabbing color against surface for fills, icons, and text, indicating urgency */
  --md-sys-color-on-error-dark: var(
    --md-ref-palette-error10
  ); /* Text and icons against error */
  --md-sys-color-error-container-dark: var(
    --md-ref-palette-error30
  ); /* Attention-grabbing fill color against surface */
  --md-sys-color-on-error-container-dark: var(
    --md-ref-palette-error90
  ); /* Text and icons against error container */

  /* Surface colors */
  --md-sys-color-surface-dark: #1c1c28; /* Default color for backgrounds */
  --md-sys-color-on-surface-dark: var(
    --md-ref-palette-neutral-variant99
  ); /* Text and icons against any surface color */
  --md-sys-color-on-surface-variant-dark: var(
    --md-ref-palette-neutral-variant30
  ); /* Lower-emphasis color for text and icons against any surface color */

  /* Surface container */
  --md-sys-color-surface-container-lowest-dark: #212331; /* Lowest-emphasis container color */
  --md-sys-color-surface-container-low-dark: #282d3d; /* Low-emphasis container color */
  --md-sys-color-surface-container-dark: #2b3042; /* Default container color */
  --md-sys-color-surface-container-high-dark: #31384d; /* High-emphasis container color */
  --md-sys-color-surface-container-highest-dark: #374157; /* Highest-emphasis container color */

  /* Inverse colors */
  --md-sys-color-inverse-surface-dark: var(
    --md-ref-palette-neutral99
  ); /* Background fills for elements which contrast against surface */
  --md-sys-color-inverse-on-surface-dark: var(
    --md-ref-palette-neutral10
  ); /* Text and icons against inverse surface */
  --md-sys-color-inverse-primary-dark: var(
    --md-ref-palette-primary30
  ); /* Inverse primary color, typically for major actionable elements */

  /* Outline */
  --md-sys-color-outline-dark: var(
    --md-ref-palette-neutral-variant50
  ); /* Important boundaries, such as a text field outline */
  --md-sys-color-outline-variant-dark: var(
    --md-ref-palette-neutral-variant80
  ); /* Decorative elements, such as dividers */

  /* Add-on color roles */
  --md-sys-color-surface-dim-dark: var(
    --md-ref-palette-secondary10
  ); /* Dimmest surface color in light and dark themes */
  --md-sys-color-surface-bright-dark: var(
    --md-ref-palette-neutral10
  ); /* Brightest surface color in light and dark themes */
  --md-sys-color-scrim-dark: rgba(
    11,
    5,
    0,
    0.38
  ); /* Scrim color, typically used for overlay or backdrop elements to indicate modality or focus */
  --md-sys-color-shadow-dark: var(
    --md-ref-palette-neutral0
  ); /*Color for shadows, typically used for depth effect on UI elements */

  /* Custom Colors */
  --md-custom-color-processing-status-running: #e6f5fb;
  --md-custom-color-on-processing-status-running: #2eaadc;

  /* light */
  --md-custom-color-processing-status-done-light: #236600;
  --md-custom-color-on-processing-status-done-light: #ffffff;
  --md-custom-color-processing-status-error-light: var(--md-sys-color-error-light);
  --md-custom-color-on-processing-status-error-light: var(--md-sys-color-on-error-light);
  --md-custom-color-processing-status-warning-light: #fbbc04;
  --md-custom-color-on-processing-status-warning-light: #000000;

  /* dark */
  --md-custom-color-processing-status-done-dark: #b1fdaf;
  --md-custom-color-on-processing-status-done-dark: #00461f;
  --md-custom-color-processing-status-error-dark: var(--md-sys-color-error-dark);
  --md-custom-color-on-processing-status-error-dark: var(--md-sys-color-on-error-dark);
  --md-custom-color-processing-status-warning-dark: #ffcd3c;
  --md-custom-color-on-processing-status-warning-dark: #0b0600;

  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Avenir Black;
  --md-sys-typescale-display-large-font-family-style: normal;
  --md-sys-typescale-display-large-font-weight: 900;
  --md-sys-typescale-display-large-font-size: 3.25rem;
  --md-sys-typescale-display-large-line-height: 4.5rem;
  --md-sys-typescale-display-large-letter-spacing: 0px;
  @media #{$medium-and-up} {
    --md-sys-typescale-display-large-font-size: 4rem;
    --md-sys-typescale-display-large-line-height: 5.5rem;
  }
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Avenir Black;
  --md-sys-typescale-display-medium-font-family-style: normal;
  --md-sys-typescale-display-medium-font-weight: 900;
  --md-sys-typescale-display-medium-font-size: 2.5rem;
  --md-sys-typescale-display-medium-line-height: 3.5rem;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  @media #{$medium-and-up} {
    --md-sys-typescale-display-medium-font-size: 3.25rem;
    --md-sys-typescale-display-medium-line-height: 4.5rem;
  }
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Avenir Black;
  --md-sys-typescale-display-small-font-family-style: normal;
  --md-sys-typescale-display-small-font-weight: 900;
  --md-sys-typescale-display-small-font-size: 2rem;
  --md-sys-typescale-display-small-line-height: 2.75rem;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  @media #{$medium-and-up} {
    --md-sys-typescale-display-small-font-size: 2.5rem;
    --md-sys-typescale-display-small-line-height: 3.5rem;
  }
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Avenir Black;
  --md-sys-typescale-headline-large-font-family-style: normal;
  --md-sys-typescale-headline-large-font-weight: 900;
  --md-sys-typescale-headline-large-font-size: 1.75rem;
  --md-sys-typescale-headline-large-line-height: 2.5rem;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  @media #{$medium-and-up} {
    --md-sys-typescale-headline-large-font-size: 2rem;
    --md-sys-typescale-headline-large-line-height: 2.75rem;
  }
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Avenir Black;
  --md-sys-typescale-headline-medium-font-family-style: normal;
  --md-sys-typescale-headline-medium-font-weight: 900;
  --md-sys-typescale-headline-medium-font-size: 1.5rem;
  --md-sys-typescale-headline-medium-line-height: 2rem;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  @media #{$medium-and-up} {
    --md-sys-typescale-headline-medium-font-size: 1.75rem;
    --md-sys-typescale-headline-medium-line-height: 2.5rem;
  }
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Avenir Black;
  --md-sys-typescale-headline-small-font-family-style: normal;
  --md-sys-typescale-headline-small-font-weight: 900;
  --md-sys-typescale-headline-small-font-size: 1.25rem;
  --md-sys-typescale-headline-small-line-height: 1.75rem;
  --md-sys-typescale-headline-small-letter-spacing: 0.01125rem;
  @media #{$medium-and-up} {
    --md-sys-typescale-headline-small-font-size: 1.5rem;
    --md-sys-typescale-headline-small-line-height: 2rem;
  }
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Atkinson Regular;
  --md-sys-typescale-body-large-font-family-style: normal;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 1rem;
  --md-sys-typescale-body-large-line-height: 1.375rem;
  --md-sys-typescale-body-large-letter-spacing: 0px;
  @media #{$medium-and-up} {
    --md-sys-typescale-body-large-font-size: 1.125rem;
    --md-sys-typescale-body-large-line-height: 1.5rem;
    --md-sys-typescale-body-large-letter-spacing: 0px;
  }
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Atkinson Regular;
  --md-sys-typescale-body-medium-font-family-style: normal;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 0.875rem;
  --md-sys-typescale-body-medium-line-height: 1.25rem;
  --md-sys-typescale-body-medium-letter-spacing: 0px;
  @media #{$medium-and-up} {
    --md-sys-typescale-body-medium-font-size: 1rem;
    --md-sys-typescale-body-medium-line-height: 1.375rem;
    --md-sys-typescale-body-medium-letter-spacing: 0px;
  }
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Atkinson Regular;
  --md-sys-typescale-body-small-font-family-style: normal;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 0.75rem;
  --md-sys-typescale-body-small-line-height: 1rem;
  --md-sys-typescale-body-small-letter-spacing: 0px;
  @media #{$medium-and-up} {
    --md-sys-typescale-body-small-font-size: 0.875rem;
    --md-sys-typescale-body-small-line-height: 1.25rem;
    --md-sys-typescale-body-small-letter-spacing: 0px;
  }
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Atkinson Bold;
  --md-sys-typescale-label-large-font-family-style: normal;
  --md-sys-typescale-label-large-font-weight: 700;
  --md-sys-typescale-label-large-font-size: 1.25rem;
  --md-sys-typescale-label-large-line-height: 1.75rem;
  --md-sys-typescale-label-large-letter-spacing: 0.09375rem;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Atkinson Bold;
  --md-sys-typescale-label-medium-font-family-style: normal;
  --md-sys-typescale-label-medium-font-weight: 700;
  --md-sys-typescale-label-medium-font-size: 1.125rem;
  --md-sys-typescale-label-medium-line-height: 1.5rem;
  --md-sys-typescale-label-medium-letter-spacing: 0.07813rem;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Atkinson Bold;
  --md-sys-typescale-label-small-font-family-style: normal;
  --md-sys-typescale-label-small-font-weight: 700;
  --md-sys-typescale-label-small-font-size: 1rem;
  --md-sys-typescale-label-small-line-height: 1.375rem;
  --md-sys-typescale-label-small-letter-spacing: 0.0625rem;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Avenir Black;
  --md-sys-typescale-title-large-font-family-style: normal;
  --md-sys-typescale-title-large-font-weight: 900;
  --md-sys-typescale-title-large-font-size: 1.125rem;
  --md-sys-typescale-title-large-line-height: 1.5rem;
  --md-sys-typescale-title-large-letter-spacing: 0.00938rem;
  @media #{$medium-and-up} {
    --md-sys-typescale-title-large-line-height: 1.75rem;
    --md-sys-typescale-title-large-letter-spacing: 0.00938rem;
  }
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Avenir Black;
  --md-sys-typescale-title-medium-font-family-style: normal;
  --md-sys-typescale-title-medium-font-weight: 800;
  --md-sys-typescale-title-medium-font-size: 1rem;
  --md-sys-typescale-title-medium-line-height: 1.375rem;
  --md-sys-typescale-title-medium-letter-spacing: 0.00938rem;
  @media #{$medium-and-up} {
    --md-sys-typescale-title-medium-font-size: 1.125rem;
    --md-sys-typescale-title-medium-line-height: 1.5rem;
    --md-sys-typescale-title-medium-letter-spacing: 0.00938rem;
  }
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Avenir Black;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 800;
  --md-sys-typescale-title-small-font-size: 0.875rem;
  --md-sys-typescale-title-small-line-height: 1.25rem;
  --md-sys-typescale-title-small-letter-spacing: 0.00625rem;
  @media #{$medium-and-up} {
    --md-sys-typescale-title-small-font-size: 1rem;
    --md-sys-typescale-title-small-line-height: 1.25rem;
    --md-sys-typescale-title-small-letter-spacing: 0.00625rem;
  }
}
