<app-os4ml-default-template data-testid="databags-page">
  <h1 header class="headline-large primary-text">
    {{ 'pages.databags_page.title' | translate }}
  </h1>
  <div nav class="actions">
    <app-databag-create-button
      (addDatabag)="addDatabag()"
      [type]="'primary'"
      data-testid="add-databag">
    </app-databag-create-button>
  </div>
  <ng-container main>
    <app-datatable-skeleton
      [displayedColumns]="displayedColumns"
      [headerNames]="headerNames"
      [isDatabagTable]="true"
      *ngIf="(isLoading$ | async) === true"></app-datatable-skeleton>
    <app-datatable
      *ngIf="(isLoading$ | async) === false"
      [isDatabagTable]="true"
      [datasource]="(databags$ | async) ?? []"
      [headerNames]="headerNames"
      [displayedColumns]="displayedColumns"
      (createSolutionButton)="
        openCreateSolutionStepperDialog($event)
      "></app-datatable>
    <app-ml-entity-status-placeholder
      *ngIf="
        (isLoading$ | async) === false && !(databags$ | async | hasElements)
      "
      [hasDatabags]="databags$ | async | hasElements"
      (addDatabag)="addDatabag()">
    </app-ml-entity-status-placeholder>
  </ng-container>
</app-os4ml-default-template>
