@import 'src/app/material/essentials/media-queries';
@import 'src/app/material/essentials/color';

.string-input {
  width: 100%;
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.or-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.or-text {
  padding-left: 10px;
  padding-right: 10px;
}

.or-line {
  flex: 1;
}

.upload-field {
  width: 90%;
  height: 20vh;
  min-width: 50px;
  min-height: 50px;
  max-height: 100px;

  @media #{$medium-and-up} {
    max-height: 154px;
  }

  @media #{$large-and-up} {
    max-height: 200px;
  }
}

.docs-text {
  text-align: center;

  a {
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
  }
}
