<h2 class="headline-medium primary-text">Solution dependencies</h2>
<div class="content">
  <div class="body-medium on-background-text">
    Based on this solution, the following predictions and transfer learning
    models were developed.
  </div>
  <div class="list-section">
    <div class="list">
      <div class="headline-small primary-text">Predictions</div>
      <ul>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
      </ul>
    </div>
    <div class="list">
      <div class="headline-small primary-text">Transfer learning modelle</div>
      <ul>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
      </ul>
    </div>
  </div>
</div>
