<h2 class="headline-medium primary-text">
  {{ 'organisms.solution-detail-dependencies.title' | translate }}
</h2>
<div class="content">
  <div class="body-medium on-background-text">
    {{ 'organisms.solution-detail-dependencies.description' | translate }}
  </div>
  <div class="list-section">
    <div class="list">
      <div class="headline-small primary-text">
        {{
          'organisms.solution-detail-dependencies.predictions_title' | translate
        }}
      </div>
      <ul>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
      </ul>
    </div>
    <div class="list">
      <div class="headline-small primary-text">
        {{
          'organisms.solution-detail-dependencies.transfer_learning_modelle_title'
            | translate
        }}
      </div>
      <ul>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
        <li>
          <a class="label-medium" routerLink="/transfer-learning">Eintrag 1</a>
        </li>
      </ul>
    </div>
  </div>
</div>
