<input
  type="file"
  class="file-input"
  data-testid="file-input"
  (change)="uploadFile($event)"
  #fileUpload />
<div
  class="file-dropzone on-surface-text body-medium"
  [class.invalid]="invalid"
  [class.active]="isDragging"
  (click)="fileUpload.click()"
  (keydown.enter)="fileUpload.click()"
  (keydown.space)="fileUpload.click()"
  aria-label="Click to browse you file"
  i18n-aria-label="@@fileDropzone.ariaLabel"
  tabindex="0">
  <p
    *ngIf="!selectedFileName && !isMobileView"
    class="on-surface-light-text body-medium"
    i18n="@@fileDropzone.label">
    Click to browse or drag and drop your file
  </p>
  <p
    *ngIf="!selectedFileName && isMobileView"
    class="on-surface-light-text body-medium"
    i18n="@@fileDropzone.labelMobile">
    Click to browse your file
  </p>
  <p class="selected-file-name">{{ selectedFileName }}</p>
</div>
