<div class="page-wrapper">
  <div class="databags-template" *ngIf="databags.length > 0; then databagTemplate else placeholder"></div>
</div>

<ng-template #databagTemplate>
  <div class="databag-container">
    <app-databag-list [databags]="databags" [(selectedDatabag)]="selectedDatabag"></app-databag-list>
    <div *ngIf="selectedDatabag.databagName" class="solutions-template">
      <app-solutions [(solutions)]="solutions" [databag]="selectedDatabag"></app-solutions>
    </div>
  </div>
</ng-template>

<ng-template #placeholder>
  <div class="placeholder-container">
    <app-databag-placeholder (mainButton)="openAddDialog()"></app-databag-placeholder>
  </div>
</ng-template>
