<div class="page-wrapper">
  <div class="databags-template" *ngIf="databags.length > 0; then content else placeholder"></div>
</div>

<ng-template #content>
  <div class="databag-container">
    <app-shared-databag-choose [databags]="databags" [(selectedDatabag)]="selectedDatabag"></app-shared-databag-choose>
    <div *ngIf="selectedDatabag.databagName" class="solutions-template">
      <div class="solutions-taskbar">
        <div class="solutions-headline">
          <h6>Solutions</h6>
        </div>
      </div>
      <app-solutions [(solutions)]="solutions" [databag]="selectedDatabag"></app-solutions>
    </div>
  </div>
</ng-template>

<ng-template #placeholder>
  <div class="placeholder-container">
    <app-shared-databag-placeholder (mainButton)="addDatabag()"></app-shared-databag-placeholder>
  </div>
</ng-template>
