.page-wrapper {
  flex-direction: column;
}

.databags-template {
  flex-direction: column;
}

.solutions-template {
  margin-left: 15px;
  flex: auto;
}

.placeholder-container {
  display: flex;
  min-height: 366px;
  max-width: 483px;
  align-self: center;
  margin: auto;
}

.fab-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.databag-container {
  margin-top: 100px;
  min-width: 265px;
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: row;
}
