form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .selectable-list {
    max-height: 250px;
    overflow: auto;
  }

  .prediction-options {
    margin-bottom: 1.5rem;
  }

  .transfer-learning-settings {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }

  .button-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.mat-mdc-option.mdc-list-item--disabled {
  cursor: not-allowed;
  pointer-events: auto;
}
