@import 'src/app/components/atoms/material/os4ml-material-theme';
@import 'src/app/components/atoms/theme';
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  display: block;
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--md-sys-color-primary);
}

.page-wrapper {
  min-height: 90%;
  max-height: 100%;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
