@import 'src/app/shared/components/atoms/theme/tokens.css';
// @import 'src/app/shared/components/atoms/theme/pink-tokens.css';
@import 'src/app/shared/components/atoms/theme/theme.light.css'
  (prefers-color-scheme: light);
@import 'src/app/shared/components/atoms/theme/theme.dark.css'
  (prefers-color-scheme: dark);
@import 'src/app/shared/components/atoms/theme/colors.module.scss';
@import 'src/app/material/os4ml-material-theme';
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  display: block;
  height: 100%;
}

body {
  margin: 0;
}

.page-wrapper {
  min-height: 90%;
  max-height: 100%;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
