@import "src/app/material/os4ml-material-theme";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }

.page-wrapper {
  min-height: 90%;
  max-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
