<ng-container *ngIf="databags$ | async as databags">
  <ng-container *ngIf="databags | hasElements; else placeholder">
    <div class="content-container">
      <app-choose-databag
        [databags]="databags"
        (selectedDatabagIdChange)="
          selectedDatabagChanged($event)
        "></app-choose-databag>
      <ng-container *ngIf="selectedDatabagId$ | async as selectedDatabagId">
        <div class="solutions-template">
          <div class="solutions-taskbar">
            <h2>{{ 'solution.plural' | translate }}</h2>
          </div>

          <ng-container
            *ngIf="solutionsInDatabag$ | async as solutionsInDatabag">
            <div
              class="list-container"
              *ngIf="
                solutionsInDatabag | hasElements;
                else solutionsPlaceholder
              ">
              <app-solution-list
                [solutions]="solutionsInDatabag"
                class="solution-list"></app-solution-list>
              <app-button
                (click)="addSolution()"
                class="add-solution-button"
                color="primary"
                type="submit"
                icon="add"
                >{{ 'solution.create' | translate }}
              </app-button>
            </div>
          </ng-container>

          <ng-template #solutionsPlaceholder>
            <app-no-solutions-placeholder
              (addSolutionButton)="
                addSolution()
              "></app-no-solutions-placeholder>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #placeholder>
  <div class="placeholder-container">
    <app-no-databags-placeholder
      (addDatabagButton)="addDatabag()"></app-no-databags-placeholder>
  </div>
</ng-template>
