<button
  [attr.aria-label]="
    'organisms.solution_context_menu.open_context_menu' | translate
  "
  mat-icon-button
  role="button"
  [matMenuTriggerFor]="menu"
  data-testid="solution-menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" role="menu">
  <app-context-menu
    [ariaLabel]="'organisms.solution_context_menu.detail' | translate"
    menuDescription="{{ 'organisms.solution_context_menu.detail' | translate }}"
    data-testid="solution-detail-menu-item"
    menuIcon="settings_applications"
    [routerLink]="showSolutionDetailLink">
  </app-context-menu>
  <app-context-menu
    [ariaLabel]="'organisms.solution_context_menu.add_prediction' | translate"
    data-testid="solution-add-prediction-menu-item"
    (click)="createPredictionButton.emit()"
    menuDescription="{{
      'organisms.solution_context_menu.add_prediction' | translate
    }}"
    menuIcon="add">
  </app-context-menu>
  <app-context-menu
    [warningState]="true"
    [ariaLabel]="'organisms.solution_context_menu.settings.delete' | translate"
    data-testid="solution-delete-menu-item"
    menuDescription="{{ 'organisms.solution_context_menu.delete' | translate }}"
    menuIcon="delete_forever"
    (click)="deleteSolutionButton.emit()">
  </app-context-menu>
</mat-menu>
