<button
  [attr.aria-label]="
    'organisms.solution_data_table.actions.context_menu' | translate
  "
  mat-icon-button
  role="button"
  [matMenuTriggerFor]="menu"
  data-testid="solution-menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" role="menu">
  <app-context-menu
    [disabled]="!(solutionElement | isSolutionDone)"
    [ariaLabel]="'organisms.prediction_create_button.label' | translate"
    data-testid="create-prediction-button"
    (click)="createPredictionButton.emit()"
    menuDescription="{{
      'organisms.prediction_create_button.label' | translate
    }}"
    menuIcon="add">
  </app-context-menu>
  <app-context-menu
    [ariaLabel]="
      'organisms.solution_data_table.actions.show_predictions.tooltip'
        | translate
    "
    *ngIf="solutionElement?.id && (solutionElement | isSolutionDone)"
    menuDescription="{{
      'organisms.solution_data_table.actions.show_predictions.tooltip'
        | translate
    }}"
    menuIcon="batch_prediction"
    [routerLink]="showPredictionLink"
    [queryParams]="showPredictionParams">
  </app-context-menu>
  <app-context-menu
    [ariaLabel]="
      'organisms.solution_data_table.actions.settings.tooltip' | translate
    "
    data-testid="solution-detail-button"
    menuDescription="{{
      'organisms.solution_data_table.actions.settings.tooltip' | translate
    }}"
    menuIcon="settings_applications"
    [routerLink]="showSolutionDetailLink"></app-context-menu>
</mat-menu>
