@import 'src/app/core/components/atoms/theme/media-queries';

.display-large {
  font-family: var(--md-sys-typescale-display-large-font-family-name);
  font-style: var(--md-sys-typescale-display-large-font-family-style);
  font-weight: var(--md-sys-typescale-display-large-font-weight);
  font-size: var(--md-sys-typescale-display-large-font-size);
  letter-spacing: var(--md-sys-typescale-display-large-letter-spacing);
  line-height: var(--md-sys-typescale-display-large-line-height);

  @media #{$medium-and-up} {
    font-size: 4rem;
    line-height: 5.5rem;
  }
}

.display-medium {
  font-family: var(--md-sys-typescale-display-medium-font-family-name);
  font-style: var(--md-sys-typescale-display-medium-font-family-style);
  font-weight: var(--md-sys-typescale-display-medium-font-weight);
  font-size: var(--md-sys-typescale-display-medium-font-size);
  letter-spacing: var(--md-sys-typescale-display-medium-letter-spacing);
  line-height: var(--md-sys-typescale-display-medium-line-height);

  @media #{$medium-and-up} {
    font-size: 3.25rem;
    line-height: 4.5rem;
  }
}

.display-small {
  font-family: var(--md-sys-typescale-display-small-font-family-name);
  font-style: var(--md-sys-typescale-display-small-font-family-style);
  font-weight: var(--md-sys-typescale-display-small-font-weight);
  font-size: var(--md-sys-typescale-display-small-font-size);
  letter-spacing: var(--md-sys-typescale-display-small-letter-spacing);
  line-height: var(--md-sys-typescale-display-small-line-height);

  @media #{$medium-and-up} {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

.headline-large {
  font-family: var(--md-sys-typescale-headline-large-font-family-name);
  font-style: var(--md-sys-typescale-headline-large-font-family-style);
  font-weight: var(--md-sys-typescale-headline-large-font-weight);
  font-size: var(--md-sys-typescale-headline-large-font-size);
  letter-spacing: var(--md-sys-typescale-headline-large-letter-spacing);
  line-height: var(--md-sys-typescale-headline-large-line-height);

  @media #{$medium-and-up} {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

.headline-medium {
  font-family: var(--md-sys-typescale-headline-medium-font-family-name);
  font-style: var(--md-sys-typescale-headline-medium-font-family-style);
  font-weight: var(--md-sys-typescale-headline-medium-font-weight);
  font-size: var(--md-sys-typescale-headline-medium-font-size);
  letter-spacing: var(--md-sys-typescale-headline-medium-letter-spacing);
  line-height: var(--md-sys-typescale-headline-medium-line-height);

  @media #{$medium-and-up} {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

.headline-small {
  font-family: var(--md-sys-typescale-headline-small-font-family-name);
  font-style: var(--md-sys-typescale-headline-small-font-family-style);
  font-weight: var(--md-sys-typescale-headline-small-font-weight);
  font-size: var(--md-sys-typescale-headline-small-font-size);
  letter-spacing: var(--md-sys-typescale-headline-small-letter-spacing);
  line-height: var(--md-sys-typescale-headline-small-line-height);

  @media #{$medium-and-up} {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.body-large {
  font-family: var(--md-sys-typescale-body-large-font-family-name);
  font-style: var(--md-sys-typescale-body-large-font-family-style);
  font-weight: var(--md-sys-typescale-body-large-font-weight);
  font-size: var(--md-sys-typescale-body-large-font-size);
  letter-spacing: var(--md-sys-typescale-body-large-letter-spacing);
  line-height: var(--md-sys-typescale-body-large-line-height);

  @media #{$medium-and-up} {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
  }
}

.body-medium {
  font-family: var(--md-sys-typescale-body-medium-font-family-name);
  font-style: var(--md-sys-typescale-body-medium-font-family-style);
  font-weight: var(--md-sys-typescale-body-medium-font-weight);
  font-size: var(--md-sys-typescale-body-medium-font-size);
  letter-spacing: var(--md-sys-typescale-body-medium-letter-spacing);
  line-height: var(--md-sys-typescale-body-medium-line-height);

  @media #{$medium-and-up} {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.01563rem;
  }
}

.body-small {
  font-family: var(--md-sys-typescale-body-small-font-family-name);
  font-style: var(--md-sys-typescale-body-small-font-family-style);
  font-weight: var(--md-sys-typescale-body-small-font-weight);
  font-size: var(--md-sys-typescale-body-small-font-size);
  letter-spacing: var(--md-sys-typescale-body-small-letter-spacing);
  line-height: var(--md-sys-typescale-body-small-line-height);

  @media #{$medium-and-up} {
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.01563rem;
  }
}

.label-large {
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-size: var(--md-sys-typescale-label-large-font-size);
  letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
  line-height: var(--md-sys-typescale-label-large-line-height);
}
.label-medium {
  font-family: var(--md-sys-typescale-label-medium-font-family-name);
  font-style: var(--md-sys-typescale-label-medium-font-family-style);
  font-weight: var(--md-sys-typescale-label-medium-font-weight);
  font-size: var(--md-sys-typescale-label-medium-font-size);
  letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing);
  line-height: var(--md-sys-typescale-label-medium-line-height);
}
.label-small {
  font-family: var(--md-sys-typescale-label-small-font-family-name);
  font-style: var(--md-sys-typescale-label-small-font-family-style);
  font-weight: var(--md-sys-typescale-label-small-font-weight);
  font-size: var(--md-sys-typescale-label-small-font-size);
  letter-spacing: var(--md-sys-typescale-label-small-letter-spacing);
  line-height: var(--md-sys-typescale-label-small-line-height);
}

.title-large {
  font-family: var(--md-sys-typescale-title-large-font-family-name);
  font-style: var(--md-sys-typescale-title-large-font-family-style);
  font-weight: var(--md-sys-typescale-title-large-font-weight);
  font-size: var(--md-sys-typescale-title-large-font-size);
  letter-spacing: var(--md-sys-typescale-title-large-letter-spacing);
  line-height: var(--md-sys-typescale-title-large-line-height);

  @media #{$medium-and-up} {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.00938rem;
  }
}

.title-medium {
  font-family: var(--md-sys-typescale-title-medium-font-family-name);
  font-style: var(--md-sys-typescale-title-medium-font-family-style);
  font-weight: var(--md-sys-typescale-title-medium-font-weight);
  font-size: var(--md-sys-typescale-title-medium-font-size);
  letter-spacing: var(--md-sys-typescale-title-medium-letter-spacing);
  line-height: var(--md-sys-typescale-title-medium-line-height);

  @media #{$medium-and-up} {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.00938rem;
  }
}

.title-small {
  font-family: var(--md-sys-typescale-title-small-font-family-name);
  font-style: var(--md-sys-typescale-title-small-font-family-style);
  font-weight: var(--md-sys-typescale-title-small-font-weight);
  font-size: var(--md-sys-typescale-title-small-font-size);
  letter-spacing: var(--md-sys-typescale-title-small-letter-spacing);
  line-height: var(--md-sys-typescale-title-small-line-height);

  @media #{$medium-and-up} {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;
  }
}
