.prediction-list {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.placeholder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.data-insight-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
