.main-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .id-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;

    .id-section {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      .icon {
        font-size: var(--md-sys-typescale-body-large-font-size);
      }
    }
  }

  .profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;

    .profile-row {
      display: flex;
      align-items: center;
      gap: 2rem;
      align-self: stretch;
    }
  }
}
