<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"databag.placeholder" | translate}}</span>
  <span class="mat-body-2 on-surface-high">{{databag?.databagName}}</span>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"databag.detail.type" | translate}}</span>
  <span class="mat-body-2 on-surface-high">{{databag?.datasetType}}</span>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"databag.detail.number_of_features" | translate}} </span>
  <span class="mat-body-2 on-surface-high">{{databag?.numberColumns}}</span>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"databag.detail.number_of_samples" | translate}} </span>
  <span class="mat-body-2 on-surface-high">{{databag?.numberRows}}</span>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"databag.detail.creation" | translate}}</span>
  <span class="mat-body-2 on-surface-high">{{databag?.creationTime | localizedDate}} {{databag?.creationTime | localizedDate:'mediumTime'}}</span>
</div>
