.mat-dialog-container{
  margin-top: 16px;
  margin-bottom: 16px;
  height: auto;
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
