.mat-dialog-container{
  margin-top: 16px;
  margin-bottom: 16px;
  height: auto;
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dialog-title{
  /* Headline 6 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #0A1629;
  padding-top: 10px;
}

.dialog-divider {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.dialog-element {
  padding-top: 12px;
  padding-bottom: 17px;
}

.dialog-element-title {
  padding-bottom: 12px;
}

.dialog-chip{
  background-color: #F4F9FD;
}
