.page-wrapper {
  flex-direction: column;
}

.solutions-taskbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.solutions-headline {
  padding-top: 20px;
}

.solutions-template {
  margin-left: 15px;
  flex: auto;
}

.placeholder-container {
  display: flex;
  min-height: 366px;
  max-width: 483px;
  align-self: center;
  margin: auto;
}

.fab-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
}

.solution-list {
  overflow: scroll;
}

.add-solution-button {
  align-self: flex-end;
  flex-shrink: 0;
  margin-top: 10px;
}

.content-container {
  margin-top: 100px;
  min-width: 265px;
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: row;
}
