.page-wrapper {
  flex-direction: column;
}

.content-container {
  width: 100%;
}

.databags-container {
  margin-left: 24px;
  margin-right: 6px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.placeholder-container {
  display: flex;
  min-height: 366px;
  max-width: 483px;
  align-self: center;
  margin: auto;
}
