<div class="page-wrapper">
  <div class="databags-template" *ngIf="databags.length > 0; then databagTemplate else placeholder"></div>
</div>

<ng-template #databagTemplate>
  <div class="headline">
    <h4>{{"page.databag.title" | translate}}</h4>
  </div>
  <div class="content-container">
    <app-databag-list [databags]="databags" [(selectedDatabag)]="selectedDatabag"></app-databag-list>
    <div *ngIf="selectedDatabag?.databagName" class="solutions-template">
      <app-solutions [(solutions)]="solutions" [columns]="selectedDatabag?.columns"></app-solutions>
    </div>
  </div>
  <button mat-mini-fab class="fab-button" color="primary" (click)="openAddDialog()"><mat-icon>add</mat-icon></button>
</ng-template>

<ng-template #placeholder>
  <div class="placeholder-container">
    <app-databag-placeholder (mainButton)="openAddDialog()"></app-databag-placeholder>
  </div>
</ng-template>
