@use 'sass:map';
@use 'node_modules/@angular/material/index' as mat;

@mixin color($theme) {
  $primary-palette: map.get($theme, 'primary');
  $background: mat.get-color-from-palette($primary-palette, A100);

  .mat-mdc-standard-chip {
    background-color: var(--md-sys-color-primary-container) !important;
    color: var(--md-sys-color-on-primary-container) !important;
  }

  .mat-mdc-standard-chip.mdc-evolution-chip--disabled {
    opacity: 0.8;
  }

  .mat-mdc-standard-chip.mdc-evolution-chip--disabled
    .mdc-evolution-chip__text-label {
    color: var(--md-sys-color-on-primary-container) !important;
  }
}

@mixin theme($theme) {
  @include color($theme);
}
