@use 'node_modules/@angular/material/index' as mat;
@use 'sass:map';

@mixin color($theme) {
  // Default state
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--invalid
    )
    .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--invalid
    )
    .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--invalid
    )
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: var(--md-sys-color-outline);
  }

  // Hover state
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: var(--md-sys-color-on-surface-variant);
  }

  // Focus state
  .mdc-text-field--outlined.mdc-text-field--focused:not(
      .mdc-text-field--disabled
    )
    .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined.mdc-text-field--focused:not(
      .mdc-text-field--disabled
    )
    .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined.mdc-text-field--focused:not(
      .mdc-text-field--disabled
    )
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: var(--md-sys-color-primary);
  }

  // Text field content color
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--md-sys-color-on-surface);
  }

  .mdc-list-item__primary-text {
    color: var(--md-sys-color-on-surface);
  }

  // Placeholder Input
  .mat-mdc-input-element.mat-mdc-form-field-input-control.mdc-text-field__input::placeholder {
    color: var(--md-sys-color-outline);
  }

  // Placeholder color
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--md-sys-color-on-surface);
  }
  .mat-mdc-dialog-container .mdc-dialog__content,
  .mat-mdc-select-value,
  .mat-mdc-select-arrow {
    color: var(--md-sys-color-on-surface);
  }

  // Disabled state
  .mdc-text-field--outlined.mdc-text-field--disabled
    .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined.mdc-text-field--disabled
    .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined.mdc-text-field--disabled
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: var(--md-sys-color-outline);
  }

  // Text field content color for disabled fields
  .mdc-text-field.mdc-text-field--disabled .mdc-text-field__input {
    color: var(--md-sys-color-outline);
  }

  // Placeholder color for disabled fields
  .mdc-text-field.mdc-text-field--disabled .mdc-floating-label {
    color: var(--md-sys-color-outline);
  }

  // Color adjustment for disabled dialogs, select values, and arrows
  .mat-mdc-dialog-container.mdc-dialog--disabled .mdc-dialog__content,
  .mat-mdc-select-value.mdc-select--disabled,
  .mat-mdc-select-arrow.mdc-select--disabled {
    color: var(--md-sys-color-outline);
  }
}

@mixin layout() {
}

@mixin theme($theme) {
  @include color($theme);
  @include layout();
}
