@use 'sass:map';
@use 'node_modules/@angular/material/index' as mat;

@mixin color($theme, $variants) {
  $primary-palette: map.get($theme, 'primary');
  $secondary-palette: map.get($theme, 'accent');
  $primary-color: mat.get-color-from-palette($primary-palette, 500);
  $primary-color-100: mat.get-color-from-palette($primary-palette, 100);
  $on-surface: mat.get-color-from-palette($primary-palette, '50-contrast');
  $secondary-900: mat.get-color-from-palette($secondary-palette, 900);

  .mat-mdc-list-item {
    &:hover {
      span,
      .mat-icon {
        color: $primary-color;
      }
      background: rgba($primary-color, 0.1);
    }
  }

  .mat-mdc-nav-list {
    .mat-mdc-list-item.active {
      background-color: var(--md-sys-color-error);
      span,
      .mat-icon {
        color: $primary-color;
      }
    }

    .mat-mdc-list-item .mat-mdc-list-item-unscoped-content {
      .mat-caption {
        color: rgba($on-surface, 0.38);
      }
      .mat-subtitle-2 {
        color: var(--md-sys-color-on-surface);
      }
    }
  }
}

@mixin layout($typography-config) {
  .mat-mdc-nav-list {
    padding: 0;
    margin: 0;
    width: 100%;

    .mat-mdc-list-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;

      .mat-icon {
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 17px;
        width: 24px;
        height: 24px;
      }
    }

    .mat-mdc-list-base .mat-mdc-list-item.mat-list-item-with-avatar,
    .mat-list-base .mat-list-option.mat-list-item-with-avatar {
      height: 44px;
    }
  }
}

@mixin theme($theme, $typography-config, $variants) {
  @include color($theme, $variants);
  @include layout($typography-config);
}
