@mixin color($theme, $background) {
  .mat-mdc-header-row {
    .mat-mdc-header-cell {
      color: var(--md-sys-color-primary);
      border-bottom: 1px solid var(--md-sys-color-outline);
    }
    background-color: var(--md-sys-color-surface);
  }
  .mdc-data-table__row:last-child .mdc-data-table__cell,
  .mat-mdc-cell {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    border-bottom: 1px solid var(--md-sys-color-outline);
  }
}

@mixin layout() {
  .mat-mdc-table {
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
  }

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    padding: 1rem;
  }

  .mat-mdc-paginator {
    border-radius: 14px;
    overflow: hidden !important;
  }
}

@mixin theme($theme, $background) {
  @include color($theme, $background);
  @include layout();
}
