<h2 class="headline-medium primary-text">Delete solution</h2>
<div class="content">
  <div class="body-medium on-background-text">
    If you delete the current solution, all associated predictions and transfer
    learning models will be removed. This step is irrevocable.
  </div>
  <app-new-button
    data-testid="solution-delete-button"
    (click)="deleteSolution.emit()"
    [variant]="'warn'"
    [size]="'medium'"
    [icon]="'delete'"
    [ariaLabel]="'organisms.databag_create_button.label' | translate">
    Delete Solution
  </app-new-button>
</div>
