<app-dialog-section>
  <mat-form-field appearance="outline">
    <mat-label>{{"databag.placeholder" | translate}}</mat-label>
    <input matInput type="string" placeholder="{{'databag.placeholder' | translate}}" required
           name="databag_name" [(ngModel)]="databag.databagName">
  </mat-form-field>
</app-dialog-section>
<app-dialog-section>
  <mat-form-field appearance="outline">
    <mat-label>{{"dialog.section.upload.connect_placeholder" | translate}}</mat-label>
    <input
      matInput
      type="url"
      placeholder="{{'dialog.section.upload.connect_placeholder' | translate}}"
      [(ngModel)]="fileUrl"
      [pattern]="urlRegex"
    >
    <mat-icon matSuffix>link</mat-icon>
  </mat-form-field>

  <div class="upload-container">
    <div class="or-container">
      <mat-divider class="or-line"></mat-divider>
      <span class="on-surface-disabled or-text">or</span>
      <mat-divider class="or-line"></mat-divider>
    </div>

    <div class="upload-container">
      <app-upload-field class="upload-field" [(file)]="file"></app-upload-field>
    </div>
  </div>
</app-dialog-section>

