<div *ngIf="getSolutionsInDatabag().length > 0; then solutionsTemplate else solutionsPlaceholder"></div>

<ng-template #solutionsTemplate>
  <div class="list-container">
    <app-shared-solutions-list [solutions]="getSolutionsInDatabag()">
    </app-shared-solutions-list>
  </div>
  <div class="actions">
    <button mat-raised-button actions
            class="fab-button mat-raised-button"
            color="primary"
            (click)="addSolution()">
      <mat-icon>add</mat-icon>
      {{ "page.solution.add.button" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #solutionsPlaceholder>
  <app-shared-solution-placeholder (mainButton)="addSolution()">
  </app-shared-solution-placeholder>
</ng-template>
