@mixin layout() {
  .mat-raised-button {
    border-radius: 14px;
    height: 48px;
    padding: 0 24px 0 24px;

    .mat-icon {
      margin-right: 5px;
    }
  }
  .mat-stroked-button {
    border-radius: 14px;
    height: 48px;
    padding: 0 24px 0 24px;
  }

  .mat-mini-fab {
    border-radius: 14px;
    width: 48px;
    height: 48px;
  }

  .mat-icon-button {
    border-radius: 14px;
    height: 48px;
    width: 48px;
  }
}

@mixin theme($theme) {
  @include layout()
}
