@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $primary-palette: map.get($theme, 'primary');
  $background: mat.get-color-from-palette($primary-palette, A100);

  .mat-mdc-standard-chip {
    // TODO(Max): Chip background Contrast is too low, so we have to force mdc to set it to the specified value
    background-color: $background !important;
  }
}

@mixin theme($theme) {
  @include color($theme);
}
