@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $primary-palette: map.get($theme, 'primary');
  $primary-color-900: mat.get-color-from-palette($primary-palette, 900);

  .cdk-overlay-dark-backdrop {
    background: $primary-color-900;
    filter: opacity(0.2);
  }
}

@mixin layout() {
  .mat-mdc-dialog-container {
    border-radius: 24px;
    width: 384px;
    min-height: 192px;
    max-height: 100vh;
    overflow: hidden;

    .mat-dialog-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 42px 30px 16px 0;
    }

    .mat-mdc-dialog-content {
      padding: 0;
      .mat-mdc-form-field {
        margin-bottom: -0.5em;
        width: 100%;
      }
    }

    .mat-mdc-dialog-actions {
      height: 12%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 16px 30px 35px 30px;
      align-items: center;
      gap: 2px;
    }
  }

  .setting-dialog .mat-mdc-dialog-container {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 384px;
    height: auto;

    .mat-mdc-dialog-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 5px 0 5px;
      align-items: center;
      gap: 2px;
    }
  }

  .getting-started-dialog .mat-mdc-dialog-container {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 444px;
    height: auto;
  }
}

@mixin theme($theme) {
  @include color($theme);
  @include layout();
}
