@mixin color($theme, $background) {
  .mat-list {
    .mat-list-item {
      background-color: $background;
    }
  }
}

@mixin layout() {
  .mat-list {
    width: 100%;
    overflow: auto;
    .mat-list-item {
      padding: 25px 0 25px 0;
      margin-top: 8px;
      margin-bottom: 8px;
      border-radius: 24px;

      .mat-list-item-content {
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

@mixin theme($theme, $background) {
  @include color($theme, $background);
  @include layout();
}
