@mixin navlist {
  .mat-nav-list {
    padding: 0;
    margin: 0;
    width: 100%;

    .mat-list-item {
      color: $on-surface-medium;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
      &:hover {
        span {
          color: $primary-color;
        }
        background: rgba($primary-color, .1);
      }
      .mat-icon {
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 17px;
        width: 24px;
        height: 24px;
      }
    }
    .mat-list-item-content {
      width: 100%;
    }

    .mat-list-item.active{
      background: $primary-color-100;
      color: $primary-color;
    }

  }
  .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
    height: 44px;
  }
}
