@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $primary-palette: map.get($theme, 'primary');
  $primary-color: mat.get-color-from-palette($primary-palette, 500);
  $primary-color-100: mat.get-color-from-palette($primary-palette, 100);
  $on-surface: mat.get-color-from-palette($primary-palette, '50-contrast');

  .mat-list-item {
    color: rgba($on-surface, .60);
    &:hover {
      span {
        color: $primary-color;
      }

      background: rgba($primary-color, .1);
    }
  }

  .mat-list-item.active {
    background: $primary-color-100;
    color: $primary-color;
  }
}

@mixin layout() {
  .mat-nav-list {
    padding: 0;
    margin: 0;
    width: 100%;

    .mat-list-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;

      .mat-list-item-content {
        width: 100%;
      }

      .mat-icon {
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 17px;
        width: 24px;
        height: 24px;
      }
    }

    .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
      height: 44px;
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
  @include layout();
}
