@use '@angular/material' as mat;
@use 'sass:map';

@mixin color($theme) {
  .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: var(--md-sys-color-outline);
  }

  .mat-mdc-progress-bar .mdc-linear-progress__bar-inner {
    border-color: var(--md-sys-color-primary);
    transition: border-color 0.3s ease-in-out;
  }

  .mat-mdc-progress-bar[aria-valuenow='100'] .mdc-linear-progress__bar-inner {
    border-color: var(--md-custom-color-on-processing-status-done);
  }
}

@mixin layout() {
}

@mixin theme($theme) {
  @include color($theme);
  @include layout();
}
