@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $primary-palette: map.get($theme, 'primary');
  $bg-color: mat.get-color-from-palette($primary-palette, A100);

  .mat-sidenav-container {
    background-color: $bg-color;
  }
}

@mixin layout() {
  .mat-sidenav-container {
    height: 100%;
  }

  .mat-sidenav {
    max-width: 200px;
    border-radius: 24px;
    padding: 40px 10px 40px 10px;
    margin: 10px 0 10px 10px;
  }

  .mat-sidenav-content {
    margin: 10px 10px 10px 0;
  }
}

@mixin theme($theme) {
  @include color($theme);
  @include layout();
}
