@mixin color($theme, $background) {
}

@mixin layout() {
  .mat-mdc-table {
    border-radius: 14px;
    overflow: hidden !important;
  }

  .mat-mdc-paginator {
    border-radius: 14px;
    overflow: hidden !important;
  }
}

@mixin theme($theme, $background) {
  @include color($theme, $background);
  @include layout();
}
