@mixin color($theme, $background) {
  /* Targeting all cells and headers within the table */
  .mat-mdc-header-row {
    .mat-mdc-header-cell {
      /* Changing the text color inside the cells */
      color: var(--md-sys-color-primary); /* Choose your preferred color */
      border-bottom: 1px solid var(--md-sys-color-outline);
    }

    /* Changing the background color of rows */
    background-color: var(
      --md-sys-color-surface
    ); /* Choose your preferred color */
  }
  .mdc-data-table__row:last-child .mdc-data-table__cell,
  .mat-mdc-cell {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    border-bottom: 1px solid var(--md-sys-color-outline);
  }
}

@mixin layout() {
  .mat-mdc-table {
    /* Adding border radius to the table */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; /* Adjust according to your preference */
    overflow: hidden;
  }

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    padding: 1rem;
  }

  .mat-mdc-paginator {
    border-radius: 14px;
    overflow: hidden !important;
  }
}

@mixin theme($theme, $background) {
  @include color($theme, $background);
  @include layout();
}
