<app-new-button
  *ngIf="!isFAB"
  [type]="variant"
  [size]="'medium'"
  [icon]="'add'"
  [disabled]="!!disabled"
  [ariaLabel]="'organisms.databag_create_button.label' | translate"
  data-testid="add-databag"
  (click)="addDatabag.emit()">
  {{ 'organisms.databag_create_button.label' | translate }}
</app-new-button>

<app-icon-button
  *ngIf="isFAB"
  (click)="addDatabag.emit()"
  [matTooltip]="'organisms.databag_create_button.label' | translate"
  attr.aria-label="{{ 'organisms.databag_create_button.label' | translate }}"
  color="primary"
  icon="add">
</app-icon-button>
