.small-button {
  display: inline-flex;
  padding: 8px 16px 8px 16px;
  justify-content: center;
  align-items: center;
  height: 34px;
  border-width: 0;
  border-radius: 0.3125rem;
  gap: 4px;
  box-sizing: border-box;
  &:disabled {
    background-color: var(--md-sys-color-disabled);
  }
}

.medium-button {
  display: inline-flex;
  padding: 12px 24px 12px 24px;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-width: 0;
  border-radius: 0.4375rem;
  gap: 8px;
  box-sizing: border-box;
  &:disabled {
    background-color: var(--md-sys-color-disabled);
  }
}

.large-button {
  display: inline-flex;
  padding: 16px 24px 16px 24px;
  justify-content: center;
  align-items: center;
  height: 56px;
  border-width: 0;
  border-radius: 0.48056rem;
  gap: 8px;
  box-sizing: border-box;
  &:disabled {
    background-color: var(--md-sys-color-disabled);
  }
}

.primary-button {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border-width: 0;
  box-shadow: none;

  &:hover {
    cursor: pointer;
    background-color: #2399d3;
  }
  &:disabled {
    background-color: var(--md-sys-color-on-surface);
    color: var(--md-sys-color-neutral);
    opacity: 22%;
    &:hover {
      cursor: not-allowed;
    }
  }
}

.secondary-button {
  background-color: transparent;
  color: var(--md-sys-color-primary);
  border-color: var(--md-sys-color-primary);
  border-radius: 0.3125rem;
  border: solid var(--md-sys-color-primary);
  box-shadow: none;

  &:hover {
    cursor: pointer;
    background-color: #e6f5fb;
  }
  &:disabled {
    color: var(--md-sys-color-neutral);
    border-color: var(--md-sys-color-on-surface);
    opacity: 22%;
    &:hover {
      background-color: var(--md-sys-color-background);
      cursor: not-allowed;
    }
  }
}

.text-button {
  color: var(--md-sys-color-primary);
  background-color: transparent;
  border-radius: 0.3125rem;

  &:hover {
    cursor: pointer;
    background-color: #e6f5fb;
  }

  &:disabled {
    color: var(--md-sys-color-neutral);
    border-color: var(--md-sys-color-on-surface);
    opacity: 22%;
    &:hover {
      background-color: var(--md-sys-color-background);
      cursor: not-allowed;
    }
  }
}

.small-mat-icon {
  font-size: 1rem;
  height: auto;
  width: auto;
}

.medium-mat-icon {
  font-size: 24px;
  height: auto;
  width: auto;
}

.large-mat-icon {
  font-size: 32px;
  height: auto;
  width: auto;
}
