<h2 class="headline-medium primary-text">
  {{ 'organisms.databag-detail-field-settings.title' | translate }}
</h2>
<div class="body-medium on-background-text description">
  {{ 'organisms.databag-detail-field-settings.description' | translate }}
</div>
<div class="content">
  <ng-container *ngIf="columns">
    <mat-form-field *ngFor="let column of columns" class="form-field">
      <mat-label>{{ column.name }}</mat-label>
      <mat-select
        (selectionChange)="updateColumn(column.name, $event.value)"
        [value]="column.type"
        required>
        <mat-option *ngFor="let type of mlTypesArray" [value]="type">{{
          type
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</div>
