@use "@angular/material" as mat;

$md-os4ml-colors-primary: (
  50 : #e6f5fb,
  100 : #c0e6f5,
  200 : #97d5ee,
  300 : #6dc4e7,
  400 : #4db7e1,
  500 : #2eaadc,
  600 : #29a3d8,
  700 : #2399d3,
  800 : #1d90ce,
  900 : #127fc5,
  A100 : #f4f9fd,
  A200 : #c1e5ff,
  A400 : #8ed0ff,
  A700 : #74c5ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-os4ml-colors-accent: (
  50 : #c8fff4,
  100 : #70efde,
  200 : #03dac5,
  300 : #00c4b4,
  400 : #00b3a6,
  500 : #01a299,
  600 : #019592,
  700 : #018786,
  800 : #017374,
  900 : #005457,
  A100 : #ebfffb,
  A200 : #b8fff2,
  A400 : #85ffe9,
  A700 : #6bffe4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-os4ml-colors-warn: (
  50 : #fce9e3,
  100 : #f8c9ba,
  200 : #f3a58c,
  300 : #ee805e,
  400 : #ea653c,
  500 : #e64a19,
  600 : #e34316,
  700 : #df3a12,
  800 : #db320e,
  900 : #d52208,
  A100 : #fffefe,
  A200 : #ffd0cb,
  A400 : #ffa298,
  A700 : #ff8b7f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$os4ml-primary: mat.define-palette($md-os4ml-colors-primary);
$os4ml-warn: mat.define-palette($md-os4ml-colors-warn);
$os4ml-accent: mat.define-palette($md-os4ml-colors-accent);

$primary-color: mat.get-color-from-palette($os4ml-primary, 500);
$primary-color-100: mat.get-color-from-palette($os4ml-primary, 100);
$primary-color-900: mat.get-color-from-palette($os4ml-primary, 900);
$primary-variant: mat.get-color-from-palette($os4ml-primary, 700);
$accent-color: mat.get-color-from-palette($os4ml-accent, 500);
$warn-color: mat.get-color-from-palette($os4ml-warn, default);
$background: #f4f9fd;
$surface: #FFFFFF;
$error: #B00020;
$on-primary: #FFFFFF;
$on-secondary: #000000;
$on-background: #000000;
$on-surface: #000000;
$on-error: #FFFFFF;
$on-primary-high: rgba($on-primary, 1);
$on-primary-medium: rgba($on-primary, .74);
$on-primary-disabled: rgba($on-primary, .38);
$on-surface-high: rgba($on-surface, .87);
$on-surface-medium: rgba($on-surface, .60);
$on-surface-disabled: rgba($on-surface, .38);
$border-color: rgba($on-surface, .12);
$overlay: rgba($primary-color-900, .16);

.primary {
  color: $primary-color;
}

.accent {
  color: $accent-color;
}

.warn {
  color: $warn-color;
}

.bg-primary {
  background-color: $background;
}

.bg-warn {
  background-color: $warn-color;
}

.bg-accent {
  background-color: $accent-color;
}

.bg-surface {
  background-color: $surface;
}

.border-color {
  border-color: rgb(0, 0, 0, .12);
}

.on-surface-disabled {
  color: $on-surface-disabled;
}

.on-surface-medium {
  color: $on-surface-medium;
}

.on-surface-high {
  color: $on-surface-high;
}
