<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"solution.placeholder" | translate}}</span>
  <span class="mat-body-2 on-surface-high">{{trimSolutionName(solution?.name)}}</span>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"solution.detail.accuracy" | translate}}</span>
  <app-star-rating [rating]="getModelQualityRating()" [numberStars]="5"></app-star-rating>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"solution.detail.runtime" | translate}}</span>
  <span class="mat-body-2 on-surface-high">{{runtime}}</span>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"solution.detail.creation" | translate}}</span>
  <span class="mat-body-2 on-surface-high">{{formatTimestamp(solution?.creationTime)}}</span>
</div>
<div class="status-column">
  <div id="solution-status" class="status mat-button" [ngClass]="getCssClassForStatus(solution?.status)">
    {{solution?.status | shortStatus}}
  </div>
</div>
