<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"solution.placeholder" | translate}}</span>
  <span class="mat-body-2 on-surface-high">{{trimSolutionName(solution?.name)}}</span>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"solution.detail.accuracy" | translate}}</span>
  <span class="mat-body-2 on-surface-high">
        {{formatAccuracy(solution?.metrics?.accuracy? solution?.metrics?.accuracy! : 0)}}%
      </span>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"solution.detail.runtime" | translate}}</span>
  <span class="mat-body-2 on-surface-high">{{runtime}}</span>
</div>
<div class="list-item-column">
  <span class="mat-caption on-surface-medium">{{"solution.detail.creation" | translate}}</span>
  <span class="mat-body-2 on-surface-high">{{formatTimestamp(solution?.creationTime)}}</span>
</div>
<div class="status-column">
  <div *ngIf="solution?.status !== 'Solver finished'" id="solution-status" class="status bg-accent mat-button">
    {{solution?.status}}
  </div>
  <div *ngIf="solution?.status === 'Solver finished'" id="solution-status-finished" class="status bg-accent mat-button">
    {{solution?.status}}
  </div>
</div>
