<app-shared-dialog-header (closeDialog)="close()">
  {{"dialog.get_started.title" | translate}}
</app-shared-dialog-header>

<mat-horizontal-stepper #stepper labelPosition="bottom">
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
  <mat-step label="{{'dialog.get_started.step_data' | translate}}"
            completed="{{stepperStep>0}}" >
    <mat-dialog-content>
      <app-shared-dialog-section>
        <mat-form-field appearance="outline">
          <mat-label>{{"dialog.edit_databag.label" | translate}}</mat-label>
          <input matInput type="string" placeholder="{{'dialog.define_databag.placeholder' | translate}}" required
                 name="databag_name" [(ngModel)]="databagName" #databag_name="ngModel"
                 [ngClass]="{'is-invalid': f.submitted && databag_name.invalid}">
        </mat-form-field>
      </app-shared-dialog-section>
      <app-shared-dialog-section>
        <div description>{{"dialog.get_started.step_data_description" | translate}}</div>
        <mat-form-field appearance="outline">
          <mat-label>{{'dialog.common.placeholder_connect' | translate}}</mat-label>
          <input
            #dbUrl="ngModel"
            matInput
            type="url"
            placeholder="{{'dialog.common.placeholder_connect' | translate}}"
            [(ngModel)]="fileUrl"
            [pattern]="urlRgex"
          >
          <mat-icon matSuffix>link</mat-icon>
        </mat-form-field>

        <div class="upload-container">
          <div class="or-container">
            <mat-divider class="or-line"></mat-divider>
            <span class="on-surface-disabled or-text">or</span>
            <mat-divider class="or-line"></mat-divider>
          </div>

          <div class="upload-container">
            <app-upload-field class="upload-field" [(file)]="file"></app-upload-field>
          </div>
        </div>

      </app-shared-dialog-section>
    </mat-dialog-content>
  </mat-step>

  <mat-step label="{{'dialog.get_started.step_prediction' | translate}}"
            completed="{{stepperStep>1}}"
  >
    <mat-dialog-content>
      <app-shared-dialog-section>
        <div description>{{"dialog.get_started.step_prediction_description" | translate}}</div>
        <mat-list>
          <ng-container *ngFor="let column of databag.columns">
            <mat-list-item
              class="bg-primary"
              *ngIf="column.type==='category'"
              [ngClass]="solution?.outputFields?.includes(column?.name || '') ? 'active' : ''"
              (click)="selectPrediction(column.name)">
              <app-shared-list-item>
                <div> {{column.name}} </div>
                <div description> {{column.type}}</div>
              </app-shared-list-item>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </app-shared-dialog-section>
    </mat-dialog-content>
  </mat-step>

  <mat-step completed="false" label="{{'dialog.get_started.step_solver' | translate}}">
    <mat-dialog-content>
      <app-shared-dialog-section>
        <form id="ngForm" class="input-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>{{"dialog.define_solver.label" | translate}}</mat-label>
            <input matInput type="string"
                   placeholder="{{'dialog.common.placeholder_solution' | translate}}"
                   required
                   name="databag_name" [(ngModel)]="solution.name" #solution_name="ngModel"
                   [ngClass]="{'is-invalid': f.submitted && solution_name.invalid}">
          </mat-form-field>
        </form>
      </app-shared-dialog-section>

      <app-shared-dialog-section>
        <div description>{{"dialog.get_started.step_solver_description" | translate}}</div>
        <mat-list>
          <mat-list-item
            id="define-solver-list"
            *ngFor="let solver of solvers"
            class="pointer bg-primary"
            [ngClass]="solution.solver === solver.name ? 'active' : ''"
            (click)="selectSolver(solver)"
          >
            <div>
              <h6 class="on-surface-high">
                {{solver.name}}
              </h6>
              <p class="mat-subheading-2 on-surface-medium">
                {{solver.description}}
              </p>
            </div>
          </mat-list-item>
        </mat-list>
      </app-shared-dialog-section>
    </mat-dialog-content>
  </mat-step>
</mat-horizontal-stepper>

<mat-dialog-actions align="end">
  <div *ngIf="stepperStep > 0">
    <button mat-icon-button class="back-button"
    [disableRipple]="true"
    (click)="back(stepper)">
    <mat-icon>arrow_back_ios</mat-icon>
    {{"dialog.actions.previous_step" | translate}}
    </button>
  </div>
  <div class="button-spacer"></div>
  <div class="on-surface-disabled spinner-status">
      {{ this.pipelineStatus }}
    </div>
    <mat-spinner *ngIf="running" [diameter]="48" mode="indeterminate"></mat-spinner>
    <button
      id="add-databag-main-button"
      mat-raised-button
      color="primary"
      class="main-button"
      type="submit"
      (click)="next(stepper)"
      [disabled]="!(
      (stepperStep===0 && (file.name || (dbUrl?.valid && dbUrl?.value?.length > 0)))
      || (stepperStep===1 && solution.outputFields)
      || (stepperStep===2 && solution_name.valid && solution.solver)
      )"
    >
      <div *ngIf="stepperStep===2">{{"dialog.actions.last_step" | translate}}</div>
      <div *ngIf="stepperStep<2">{{"dialog.actions.next_step" | translate}}</div>
    </button>
</mat-dialog-actions>
