<div class="dialog-container">
  <div class="headline mat-dialog-header">
    <h5 mat-dialog-title>{{"dialog.add_databag.title" | translate}}</h5>
    <button mat-icon-button (click)="close()" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <form #dbForm="ngForm"></form>
    <mat-form-field appearance="outline">
      <mat-label>{{"dialog.add_databag.label" | translate}}</mat-label>
      <input
        #dbUrl="ngModel"
        matInput
        type="url"
        placeholder="{{'dialog.add_databag.placeholder' | translate}}"
        [(ngModel)]="fileUrl"
        [pattern]="urlRgex"
      >
      <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>
    <div class="upload-container">
      <div class="divider-container">
        <mat-divider class="line"></mat-divider>
        <span class="on-surface-disabled text">or</span>
        <mat-divider class="line"></mat-divider>
      </div>
      <div class="dnd-container">
        <app-file-upload class="upload-file" [(file)]="file"></app-file-upload>
        <span *ngIf="file.name" class="selected-file mat-caption accent">{{file.name}}</span>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <mat-spinner color="accent" *ngIf="running" [diameter]="48" mode="indeterminate"></mat-spinner>
    <button
      mat-raised-button
      color="primary"
      class="main-button"
      type="submit"
      (click)="nextPageClick()"
      [disabled]="!(file.name || (dbUrl?.valid && dbUrl?.value?.length > 0))"
    >
      {{"dialog.add_databag.main_button" | translate}}
    </button>
  </mat-dialog-actions>
</div>
