<div class="dialog-container">
  <div class="headline">
    <h5 mat-dialog-title>{{"dialog.add_databag.title" | translate}}</h5>
    <button mat-icon-button mat-dialog-close tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>{{"dialog.add_databag.label" | translate}}</mat-label>
      <input matInput type="url" placeholder="{{'dialog.add_databag.placeholder' | translate}}">
      <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>
    <div class="upload-container">
      <div class="divider-container">
        <mat-divider class="line"></mat-divider>
        <span class="on-surface-disabled text">or</span>
        <mat-divider class="line"></mat-divider>
      </div>
      <div class="dnd-container">
        <app-file-upload class="upload-file" (fileChange)="uploadFile($event)" [uploadProgress]="uploadProgress">
        </app-file-upload>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" class="main-button" (click)="nextPageClick()">
      {{"dialog.add_databag.main_button" | translate}}
    </button>
  </mat-dialog-actions>
</div>
