<app-shared-dialog-header (closeDialog)="close()">
  {{"dialog.delete.title" | translate}}
</app-shared-dialog-header>

<app-shared-dialog-section>
    {{"dialog.delete.description" | translate}}
</app-shared-dialog-section>

<mat-dialog-actions align="end">
  <mat-spinner color="accent" *ngIf="deleting" [diameter]="35" mode="indeterminate" class="spinner"></mat-spinner>
    <button
    mat-stroked-button
    color="warn"
    type="button"
    (click)="onSubmit()"
    [disabled]="deleting || invalidResource()"
    [tabIndex]="-1"
  >
    {{"action.delete" | translate}}
  </button>
  <button
    mat-raised-button
    color="primary"
    class="main-button"
    [tabIndex]="-1"
    (click)="close()"
  >
    {{"action.cancel" | translate}}
  </button>
</mat-dialog-actions>
