@use 'sass:map';
@use 'node_modules/@angular/material/index' as mat;

$md-os4ml-colors-primary: (
  50: var(--md-sys-color-primary-container),
  // --md-sys-color-primary-container-light
  100: var(--md-sys-color-primary-container),
  // --md-sys-color-primary-container-light
  200: var(--md-sys-color-primary-container),
  // --md-sys-color-primary-container-light
  300: var(--md-sys-color-primary-container),
  // --md-sys-color-primary-container-light
  400: var(--md-sys-color-primary),
  // --md-sys-color-primary-light
  500: var(--md-sys-color-primary),
  // --md-sys-color-primary-light
  600: var(--md-sys-color-primary),
  // --md-sys-color-primary-light
  700: var(--md-sys-color-primary),
  // --md-sys-color-primary-light
  800: var(--md-sys-color-primary),
  // --md-sys-color-primary-light
  900: var(--md-sys-color-primary),
  // --md-sys-color-primary-light
  A100: var(--md-sys-color-primary-container),
  // --md-sys-color-primary-container-light
  A200: var(--md-sys-color-primary),
  // --md-sys-color-primary-light
  A400: var(--md-sys-color-primary),
  // --md-sys-color-primary-light
  A700: var(--md-sys-color-primary),
  // --md-sys-color-primary-light
  contrast:
    (
      50: var(--md-sys-color-on-primary-container),
      // --md-sys-color-on-primary-container-light
      100: var(--md-sys-color-on-primary-container),
      // --md-sys-color-on-primary-container-light
      200: var(--md-sys-color-on-primary-container),
      // --md-sys-color-on-primary-container-light
      300: var(--md-sys-color-on-primary-container),
      // --md-sys-color-on-primary-container-light
      400: var(--md-sys-color-on-primary),
      // --md-sys-color-on-primary-light
      500: var(--md-sys-color-on-primary),
      // --md-sys-color-on-primary-light
      600: var(--md-sys-color-on-primary),
      // --md-sys-color-on-primary-light
      700: var(--md-sys-color-on-primary),
      // --md-sys-color-on-primary-light
      800: var(--md-sys-color-on-primary),
      // --md-sys-color-on-primary-light
      900: var(--md-sys-color-on-primary),
      // --md-sys-color-on-primary-light
      A100: var(--md-sys-color-on-primary-container),
      // --md-sys-color-on-primary-container-light
      A200: var(--md-sys-color-on-primary),
      // --md-sys-color-on-primary-light
      A400: var(--md-sys-color-on-primary),
      // --md-sys-color-on-primary-light
      A700: var(--md-sys-color-on-primary),
      // --md-sys-color-on-primary-light
    ),
);

$md-os4ml-colors-secondary: (
  50: var(--md-sys-color-secondary-container),
  // --md-sys-color-secondary-container-light
  100: var(--md-sys-color-secondary-container),
  // --md-sys-color-secondary-container-light
  200: var(--md-sys-color-secondary-container),
  // --md-sys-color-secondary-container-light
  300: var(--md-sys-color-secondary-container),
  // --md-sys-color-secondary-container-light
  400: var(--md-sys-color-secondary),
  // --md-sys-color-secondary-light
  500: var(--md-sys-color-secondary),
  // --md-sys-color-secondary-light
  600: var(--md-sys-color-secondary),
  // --md-sys-color-secondary-light
  700: var(--md-sys-color-secondary),
  // --md-sys-color-secondary-light
  800: var(--md-sys-color-secondary),
  // --md-sys-color-secondary-light
  900: var(--md-sys-color-secondary),
  // --md-sys-color-secondary-light
  A100: var(--md-sys-color-secondary-container),
  // --md-sys-color-secondary-container-light
  A200: var(--md-sys-color-secondary),
  // --md-sys-color-secondary-light
  A400: var(--md-sys-color-secondary),
  // --md-sys-color-secondary-light
  A700: var(--md-sys-color-secondary),
  // --md-sys-color-secondary-light
  contrast:
    (
      50: var(--md-sys-color-on-secondary-container),
      // --md-sys-color-on-secondary-container-light
      100: var(--md-sys-color-on-secondary-container),
      // --md-sys-color-on-secondary-container-light
      200: var(--md-sys-color-on-secondary-container),
      // --md-sys-color-on-secondary-container-light
      300: var(--md-sys-color-on-secondary-container),
      // --md-sys-color-on-secondary-container-light
      400: var(--md-sys-color-on-secondary),
      // --md-sys-color-on-secondary-light
      500: var(--md-sys-color-on-secondary),
      // --md-sys-color-on-secondary-light
      600: var(--md-sys-color-on-secondary),
      // --md-sys-color-on-secondary-light
      700: var(--md-sys-color-on-secondary),
      // --md-sys-color-on-secondary-light
      800: var(--md-sys-color-on-secondary),
      // --md-sys-color-on-secondary-light
      900: var(--md-sys-color-on-secondary),
      // --md-sys-color-on-secondary-light
      A100: var(--md-sys-color-on-secondary-container),
      // --md-sys-color-on-secondary-container-light
      A200: var(--md-sys-color-on-secondary),
      // --md-sys-color-on-secondary-light
      A400: var(--md-sys-color-on-secondary),
      // --md-sys-color-on-secondary-light
      A700: var(--md-sys-color-on-secondary),
      // --md-sys-color-on-secondary-light
    ),
);

$md-os4ml-colors-error: (
  50: var(--md-sys-color-error-container),
  100: var(--md-sys-color-error-container),
  200: var(--md-sys-color-error-container),
  300: var(--md-sys-color-error-container),
  400: var(--md-sys-color-error),
  500: var(--md-sys-color-error),
  600: var(--md-sys-color-error),
  700: var(--md-sys-color-error),
  800: var(--md-sys-color-error),
  900: var(--md-sys-color-error),
  A100: var(--md-sys-color-error-container),
  A200: var(--md-sys-color-error),
  A400: var(--md-sys-color-error),
  A700: var(--md-sys-color-error),
  contrast: (
    50: var(--md-sys-color-on-error-container),
    100: var(--md-sys-color-on-error-container),
    200: var(--md-sys-color-on-error-container),
    300: var(--md-sys-color-on-error-container),
    400: var(--md-sys-color-on-error),
    500: var(--md-sys-color-on-error),
    600: var(--md-sys-color-on-error),
    700: var(--md-sys-color-on-error),
    800: var(--md-sys-color-on-error),
    900: var(--md-sys-color-on-error),
    A100: var(--md-sys-color-on-error-container),
    A200: var(--md-sys-color-on-error),
    A400: var(--md-sys-color-on-error),
    A700: var(--md-sys-color-on-error),
  ),
);

//TODO
$md-os4ml-colors-success: (
  50: #c8fff4,
  100: #70efde,
  200: #03dac5,
  300: #00c4b4,
  400: #00b3a6,
  500: #01a299,
  600: #019592,
  700: #018786,
  800: #017374,
  900: #005457,
  A100: #ebfffb,
  A200: #b8fff2,
  A400: #85ffe9,
  A700: #6bffe4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$os4ml-light-foreground: (
  base: var(--md-sys-color-on-surface),
  // Base font color
  divider: var(--md-sys-color-outline),
  // Color for line dividers
  dividers: var(--md-sys-color-outline),
  // An alternative name for the color of line dividers
  disabled: rgba(var(--md-sys-color-on-surface), 0.38),
  // Color for disabled elements
  disabled-button: rgba(var(--md-sys-color-outline), 0.38),
  // Color for disabled buttons
  disabled-text: rgba(var(--md-sys-color-on-surface), 0.38),
  // Text color for disabled elements
  //hint-text: rgba(var(--md-sys-color-on-surface), 0.5),
  hint-text: var(--md-sys-color-on-surface),
  // Color for hint texts
  //secondary-text: rgba(var(--md-sys-color-on-surface), 0.54),
  secondary-text: var(--md-sys-color-secondary),
  // Color for secondary text
  //icon: rgba(var(--md-sys-color-on-surface), 0.54),
  icon: var(--md-sys-color-on-surface),
  // Color for icons
  //icons: rgba(var(--md-sys-color-on-surface), 0.54),
  icons: var(--md-sys-color-on-surface),
  // An alternative name for the color of icons
  text: var(--md-sys-color-on-surface),
  // Main text color
  slider-min: var(--md-sys-color-primary),
  // Color for the part of a slider to the left of the handle
  //slider-off: rgba(var(--md-sys-color-outline), 0.26),
  slider-off: rgba(var(--md-sys-color-outline), 0.38),
  // Color for the part of a slider to the right of the handle when the slider is not active
  //slider-off-active: rgba(var(--md-sys-color-primary), 0.38),
  slider-off-active: var(--md-sys-color-primary-container),
  // Color for the part of a slider to the right of the handle when the slider is active
);

$os4ml-light-background: (
  status-bar: var(--md-sys-color-primary-container),
  // Background color of the status bar
  app-bar: var(--md-sys-color-primary),
  // Background color of the app bar
  background: map.get(mat.$grey-palette, 50),
  // Background color of the application
  hover: rgba(var(--md-sys-color-outline), 0.04),
  // Background color for hover states
  card: var(--md-sys-color-surface-container-low),
  // Background color for cards
  dialog: var(--md-sys-color-surface-container-high),
  // Background color for dialogs
  disabled-button: rgba(var(--md-sys-color-outline), 0.38),
  // Background color for disabled buttons
  raised-button: rgba(var(--md-sys-color-surface), 3),
  // Background color for raised buttons
  focused-button: rgba(var(--md-sys-color-outline), 0.12),
  // Background color for focused buttons
  selected-button: var(--md-sys-color-primary-container),
  // Background color for selected buttons
  selected-disabled-button: var(--md-sys-color-secondary-container),
  // Background color for selected disabled buttons
  disabled-button-toggle: var(--md-sys-color-secondary-container),
  // Background color for disabled button toggles
  unselected-chip: var(--md-sys-color-primary-container),
  // Background color for unselected chips
  disabled-list-option: var(--md-sys-color-secondary-container),
  // Background color for disabled list options
  tooltip: var(--md-sys-color-secondary),
  // Background color for tooltips
);

$os4ml-light-primary: mat.define-palette($md-os4ml-colors-primary);
$os4ml-light-secondary: mat.define-palette($md-os4ml-colors-secondary);
$os4ml-light-error: mat.define-palette($md-os4ml-colors-error);
$os4ml-light-tertiary: mat.define-palette(mat.$gray-palette);
$os4ml-light-success: mat.define-palette($md-os4ml-colors-success);
$os4ml-light-info: mat.define-palette(mat.$blue-palette);
