@use 'node_modules/@angular/material/index' as mat;

//TODO: Get values from Design Tokens when done
$custom-typography: mat.define-typography-config(
  $font-family: var(--md-sys-typescale-body-large-font-family-name),
  $headline-1:
    mat.define-typography-level(
      var(--md-sys-typescale-display-large-font-size),
      var(--md-sys-typescale-display-large-line-height),
      var(--md-sys-typescale-display-large-font-weight),
      var(--md-sys-typescale-display-large-font-family-name),
      var(--md-sys-typescale-display-large-letter-spacing)
    ),
  $headline-2:
    mat.define-typography-level(
      var(--md-sys-typescale-display-medium-font-size),
      var(--md-sys-typescale-display-medium-line-height),
      var(--md-sys-typescale-display-medium-font-weight),
      var(--md-sys-typescale-display-medium-font-family-name),
      var(--md-sys-typescale-display-medium-letter-spacing)
    ),
  $headline-3:
    mat.define-typography-level(
      var(--md-sys-typescale-display-small-font-size),
      var(--md-sys-typescale-display-small-line-height),
      var(--md-sys-typescale-display-small-font-weight),
      var(--md-sys-typescale-display-small-font-family-name),
      var(--md-sys-typescale-display-small-letter-spacing)
    ),
  $headline-4:
    mat.define-typography-level(
      var(--md-sys-typescale-headline-large-font-size),
      var(--md-sys-typescale-headline-large-line-height),
      var(--md-sys-typescale-headline-large-font-weight),
      var(--md-sys-typescale-headline-large-font-family-name),
      var(--md-sys-typescale-headline-large-letter-spacing)
    ),
  $headline-5:
    mat.define-typography-level(
      var(--md-sys-typescale-headline-medium-font-size),
      var(--md-sys-typescale-headline-medium-line-height),
      var(--md-sys-typescale-headline-medium-font-weight),
      var(--md-sys-typescale-headline-medium-font-family-name),
      var(--md-sys-typescale-headline-medium-letter-spacing)
    ),
  $headline-6:
    mat.define-typography-level(
      var(--md-sys-typescale-headline-small-font-size),
      var(--md-sys-typescale-headline-small-line-height),
      var(--md-sys-typescale-headline-small-font-weight),
      var(--md-sys-typescale-headline-small-font-family-name),
      var(--md-sys-typescale-headline-small-letter-spacing)
    ),
  $subtitle-1:
    mat.define-typography-level(
      var(--md-sys-typescale-label-large-font-size),
      var(--md-sys-typescale-label-large-line-height),
      var(--md-sys-typescale-label-large-font-weight),
      var(--md-sys-typescale-label-large-font-family-name),
      var(--md-sys-typescale-label-large-letter-spacing)
    ),
  $subtitle-2:
    mat.define-typography-level(
      var(--md-sys-typescale-label-medium-font-size),
      var(--md-sys-typescale-label-medium-line-height),
      var(--md-sys-typescale-label-medium-font-weight),
      var(--md-sys-typescale-label-medium-font-family-name),
      var(--md-sys-typescale-label-medium-letter-spacing)
    ),
  $body-1:
    mat.define-typography-level(
      var(--md-sys-typescale-body-large-font-size),
      var(--md-sys-typescale-body-large-line-height),
      var(--md-sys-typescale-body-large-font-weight),
      var(--md-sys-typescale-body-large-font-family-name),
      var(--md-sys-typescale-body-large-letter-spacing)
    ),
  $body-2:
    mat.define-typography-level(
      var(--md-sys-typescale-body-medium-font-size),
      var(--md-sys-typescale-body-medium-line-height),
      var(--md-sys-typescale-body-medium-font-weight),
      var(--md-sys-typescale-body-medium-font-family-name),
      var(--md-sys-typescale-body-medium-letter-spacing)
    ),
  $caption:
    mat.define-typography-level(
      var(--md-sys-typescale-body-small-font-size),
      var(--md-sys-typescale-body-small-line-height),
      var(--md-sys-typescale-body-small-font-weight),
      var(--md-sys-typescale-body-small-font-family-name),
      var(--md-sys-typescale-body-small-letter-spacing)
    ),
  $button:
    mat.define-typography-level(
      var(--md-sys-typescale-label-small-font-size),
      var(--md-sys-typescale-label-small-line-height),
      var(--md-sys-typescale-label-small-font-weight),
      var(--md-sys-typescale-label-small-font-family-name),
      var(--md-sys-typescale-label-small-letter-spacing)
    ),
  $overline:
    mat.define-typography-level(
      var(--md-sys-typescale-title-large-font-size),
      var(--md-sys-typescale-title-large-line-height),
      var(--md-sys-typescale-title-large-font-weight),
      var(--md-sys-typescale-title-large-font-family-name),
      var(--md-sys-typescale-title-large-letter-spacing)
    ),
);
