<mat-list>
  <mat-list-item class="bg-surface solution-list-item" *ngFor="let solution of solutions">
    <div class="list-item-column">
      <span class="mat-caption on-surface-medium">Solution</span>
      <span class="mat-body-2 on-surface-high">{{solution?.name}}</span>
    </div>
    <div class="list-item-column">
      <span class="mat-caption on-surface-medium">Accuracy</span>
      <span class="mat-body-2 on-surface-high">
        {{solution?.metrics?.accuracy? solution?.metrics?.accuracy! * 100 : 0}}%
      </span>
    </div>
    <div class="list-item-column">
      <span class="mat-caption on-surface-medium">Runtime</span>
      <span class="mat-body-2 on-surface-high">{{getRuntime(solution?.creationTime, solution?.completionTime)}}</span>
    </div>
    <div class="status bg-accent mat-button">
      {{solution?.status}}
    </div>
  </mat-list-item>
</mat-list>
