<app-dialog-header (closeDialog)="close()">
  {{ 'databag.create' | translate }}
</app-dialog-header>

<mat-stepper [linear]="false" orientation="horizontal" #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
  <mat-step
    label="{{ 'dialog.create_databag.step_one' | translate }}"
    completed="{{ stepperStep > 0 }}">
    <mat-dialog-content>
      <app-create-databag
        (databagChange)="databagUpdate($event)"
        #createDatabagComponent></app-create-databag>
    </mat-dialog-content>
  </mat-step>

  <mat-step completed="false" label="{{ 'settings.name' | translate }}">
    <mat-dialog-content>
      <form id="ngForm" name="form" (ngSubmit)="onSubmit()">
        <app-dialog-section>
          <app-databag-fields [databag]="databag"></app-databag-fields>
        </app-dialog-section>
      </form>
    </mat-dialog-content>
  </mat-step>
</mat-stepper>

<mat-dialog-actions align="end">
  <ng-container
    *ngIf="
      stepperStep === 0;
      then nextButton;
      else createButton
    "></ng-container>
</mat-dialog-actions>

<ng-template #nextButton>
  <app-status-spinner
    *ngIf="running"
    [status]="
      databag.status || 'message.pipeline.default' | translate
    "></app-status-spinner>
  <app-button
    id="add-databag-main-button"
    variant="raised"
    color="primary"
    class="main-button"
    type="submit"
    (click)="nextClick(stepper, createDatabagComponent)"
    [disabled]="running || !createDatabagComponent.valid()">
    {{ 'action.next_step' | translate }}
  </app-button>
</ng-template>

<ng-template #createButton>
  <app-button
    variant="stroked"
    color="accent"
    icon="arrow_back_ios"
    [disableRipple]="true"
    (click)="back(stepper)">
    {{ 'action.previous_step' | translate }}
  </app-button>
  <div class="button-spacer"></div>
  <app-button
    id="define-databag-button"
    variant="raised"
    form="ngForm"
    class="main-button"
    color="primary"
    type="submit">
    {{ 'action.last_step' | translate }}
  </app-button>
</ng-template>
