<h2 class="headline-medium primary-text">Download KI-Model</h2>
<div class="content">
  <div class="body-medium on-background-text">
    Based on the provided solution, an AI model has been developed and
    fine-tuned to cater to the specific requirements. This model is now
    available for download, enabling users to directly implement and benefit
    from the insights and capabilities it offers.
  </div>
  <app-new-button
    data-testid="add-databag"
    [variant]="'primary'"
    [size]="'medium'"
    [icon]="'download'"
    [ariaLabel]="'organisms.databag_create_button.label' | translate">
    Download KI-Model
  </app-new-button>
</div>
