<mat-sidenav-container autosize>
  <mat-sidenav mode="side" position="start" opened>
    <div class="sidenav-container">
      <div>
        <img class="logo" src="assets/logos/os4ml-logo.svg" alt="Os4ML Logo" />
        <mat-nav-list class="nav-list">
          <mat-list-item
            style="display: none"
            [routerLinkActive]="['active']"
            [routerLink]="['/dashboard']">
            <mat-icon matListItemIcon>apps</mat-icon>
            <span class="nav-caption">{{
              'page.dashboard.title' | translate
            }}</span>
          </mat-list-item>
          <mat-list-item
            [routerLinkActive]="['active']"
            [routerLink]="['/databags']">
            <mat-icon matListItemIcon>folder_open</mat-icon>
            <span class="nav-caption">{{ 'databag.plural' | translate }}</span>
          </mat-list-item>
          <mat-list-item
            [routerLinkActive]="['active']"
            [routerLink]="['/solutions']">
            <mat-icon matListItemIcon>lightbulb</mat-icon>
            <span class="nav-caption">{{ 'solution.plural' | translate }}</span>
          </mat-list-item>
          <mat-list-item
            style="display: none"
            [routerLinkActive]="['active']"
            [routerLink]="['/settings']">
            <mat-icon matListItemIcon>settings</mat-icon>
            <span class="nav-caption">Settings</span>
          </mat-list-item>
          <mat-list-item
            style="display: none"
            [routerLinkActive]="['active']"
            [routerLink]="['/user']">
            <mat-icon matListItemIcon>perm_identity</mat-icon>
            <span class="nav-caption">User</span>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div>
        <div class="support-item">
          <app-support></app-support>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
