.sidenav-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 100%;
}

.nav-list {
  margin-top: 50px;
}

.support-item {
  margin-bottom: 50px;
}

.content-container {
  padding-left: 10px;
}
