$medium-screen-up: 600px !default;
$large-screen-up: 960px !default;

$medium-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
