<app-os4ml-default-template data-testid="solutions-page">
  <h1 class="headline-1 primary-text">{{ 'solution.plural' | translate }}</h1>
  <ng-container *ngIf="databags$ | async as databags">
    <ng-container *ngIf="databags | hasElements; else placeholder">
      <div class="content-container" data-testid="solution-page">
        <app-choose-databag
          [databags]="databags"
          (selectedDatabagIdChange)="
            selectedDatabagChanged($event)
          "></app-choose-databag>
        <ng-container *ngIf="selectedDatabagId$ | async as selectedDatabagId">
          <div class="solutions-template">
            <ng-container
              *ngIf="solutionsInDatabag$ | async as solutionsInDatabag">
              <div
                class="list-container"
                *ngIf="
                  solutionsInDatabag | hasElements;
                  else solutionsPlaceholder
                ">
                <app-data-insight-card
                  data-testid="solution-item"
                  *ngFor="let solution of solutionsInDatabag">
                  <ng-container content>
                    <app-data-insight-item
                      [title]="'solution.placeholder' | translate">
                      <span class="mat-body-2 on-surface-text">{{
                        solution.name
                      }}</span>
                    </app-data-insight-item>
                    <app-data-insight-item
                      [title]="'solution.detail.quality' | translate">
                      <app-star-rating
                        [rating]="solution.metrics?.combined || 0"
                        [numberStars]="5">
                      </app-star-rating>
                    </app-data-insight-item>
                    <app-data-insight-item
                      [title]="'solution.detail.runtime' | translate">
                      <span class="mat-body-2 on-surface-text">
                        <app-runtime-indicator
                          [creationTime]="solution.creationTime"
                          [completionTime]="solution.completionTime">
                        </app-runtime-indicator>
                      </span>
                    </app-data-insight-item>
                    <app-data-insight-item
                      [title]="'solution.detail.creation' | translate">
                      <span class="mat-body-2 on-surface-text">{{
                        solution.creationTime | localizedDate : 'dd.MM.yyyy'
                      }}</span>
                    </app-data-insight-item>
                    <app-data-insight-item
                      [title]="'solution.detail.status' | translate">
                      <app-processing-status-indicator
                        data-testid="solution-status-indicator"
                        [shortStatus]="solution.status | shortStatus">
                      </app-processing-status-indicator>
                    </app-data-insight-item>
                  </ng-container>
                  <ng-container actions>
                    <app-data-insight-item
                      [title]="'databag.detail.actions' | translate">
                      <app-icon-button
                        data-testid="solution-settings-button"
                        (click)="openSolutionSettingDialog(solution)"
                        [matTooltip]="
                          'solution.detail.tooltips.settings' | translate
                        "
                        attr.aria-label="{{
                          'solution.detail.tooltips.show_predictions'
                            | translate
                        }}"
                        color="primary"
                        icon="edit">
                      </app-icon-button>
                      <!--                      <app-icon-button-->
                      <!--                        data-testid="create-prediction-button"-->
                      <!--                        (click)="openCreatePredictionDialog(solution)"-->
                      <!--                        [matTooltip]="-->
                      <!--                          'solution.detail.tooltips.add_prediction' | translate-->
                      <!--                        "-->
                      <!--                        attr.aria-label="{{-->
                      <!--                          'solution.detail.tooltips.add_prediction' | translate-->
                      <!--                        }}"-->
                      <!--                        color="primary"-->
                      <!--                        icon="add">-->
                      <!--                      </app-icon-button>-->
                      <app-icon-button
                        *ngIf="solution.id && solution.modelUrl"
                        [routerLink]="[solution.id, 'predictions']"
                        [matTooltip]="
                          'solution.detail.tooltips.show_predictions'
                            | translate
                        "
                        attr.aria-label="{{
                          'solution.detail.tooltips.show_predictions'
                            | translate
                        }}"
                        color="primary"
                        icon="batch_prediction">
                      </app-icon-button>
                    </app-data-insight-item>
                  </ng-container>
                </app-data-insight-card>
                <app-button
                  (click)="addSolution()"
                  class="add-solution-button"
                  color="primary"
                  type="submit"
                  icon="add"
                  >{{ 'solution.create' | translate }}</app-button
                >
              </div>
            </ng-container>
            <ng-template #solutionsPlaceholder>
              <app-no-solutions-placeholder
                (addSolutionButton)="
                  addSolution()
                "></app-no-solutions-placeholder>
            </ng-template>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</app-os4ml-default-template>
<ng-template #placeholder>
  <div class="placeholder-container">
    <app-no-databags-placeholder
      (addDatabagButton)="addDatabag()"></app-no-databags-placeholder>
  </div>
</ng-template>
