.item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.disabled {
  cursor: default;
}

.list-item-description {
  display: flex;
  flex-direction: column;
}

.description {
  padding: 0 20px 30px 15px;
}

