<div class="placeholder-container">
  <div class="placeholder">
    <img
      class="placeholder-image"
      src="./assets/illustrations/no_solution.svg"
      alt="Databag Illustration" />
    <h1 class="primary">{{ 'solution.empty' | translate }}</h1>
    <span class="mat-body-1">{{ 'solution.description' | translate }}</span>
    <app-button
      variant="raised"
      class="main-button"
      id="add-solution-button-empty"
      color="primary"
      icon="lightbulb_outline"
      (click)="addSolutionButton.emit($event)">
      {{ 'solution.create' | translate }}
    </app-button>
  </div>
</div>
