:host {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.placeholder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 510px;
  height: 366px;
}

.placeholder-image {
  margin: auto;
}

.main-button {
  margin: auto;
}
