<div class="placeholder-container">
  <div class="placeholder">
    <img class="placeholder-image" src="./assets/illustrations/no_solution.svg" alt="Databag Illustration">
    <h5>{{"solution.empty" | translate}}</h5>
    <span class="mat-subheading-1">{{"solution.description" | translate}}</span>
    <button mat-raised-button class="main-button" id="add-solution-button-empty" color="primary" (click)="addSolutionButton.emit($event)">
      <mat-icon>lightbulb_outline</mat-icon>
      {{"solution.create" | translate}}
    </button>
  </div>
</div>
