.headline {
  align-self: flex-end;
}

.button-info {
  border-width: 1px;
  border-style: solid;
}

.button-bar-button {
  margin: 0 6px 0 6px;
}

.button-bar {
  margin: auto;
}

.solutions-taskbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spacer-item {
  visibility: hidden;
}

.solutions-list-container {
  margin-top: 15px;
}
