<div class="solutions-taskbar">
  <div class="headline">
    <h6>Solutions</h6>
  </div>
  <div class="button-bar">
    <button style="display: none" class="bg-surface button-bar-button button-list" mat-icon-button>
      <mat-icon>list</mat-icon>
    </button>
  </div>
  <div class="spacer-item">
    <h6>Solutions</h6>
  </div>
</div>

<div *ngIf="getSolutionsInDatabag().length > 0; then solutionsTemplate else placeholder"></div>

<ng-template #solutionsTemplate>
  <div class="solutions-list-container">
    <app-solutions-list [solutions]="getSolutionsInDatabag()"></app-solutions-list>
  </div>
  <button mat-mini-fab class="fab-button" color="primary" (click)="openCreateSolutionDialog()"><mat-icon>add</mat-icon></button>
</ng-template>

<ng-template #placeholder>
  <app-solutions-placeholder (mainButton)="openCreateSolutionDialog()"></app-solutions-placeholder>
</ng-template>
