.solutions-taskbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.solutions-headline {
  padding-top: 20px;
}

.solutions-list-container {
  max-height: 515px;
  overflow: auto;
  margin-top: 15px;
}

.solutions-add-button {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mat-raised-button-solutions-add-button {
  float: right;
  margin: 10px;
}
