<div class="solutions-taskbar">
  <div class="solutions-headline">
    <h6>Solutions</h6>
  </div>
</div>

<div *ngIf="getSolutionsInDatabag().length > 0; then solutionsTemplate else placeholder"></div>

<ng-template #solutionsTemplate>
  <div class="solutions-list-container">
    <app-solutions-list [solutions]="getSolutionsInDatabag()"></app-solutions-list>
  </div>
  <button mat-raised-button class="fab-button mat-raised-button-solutions-add-button" color="primary" (click)="openCreateSolutionDialog()">
    <mat-icon>add</mat-icon>
    {{ "page.solution.add.button" | translate }}
  </button>
</ng-template>

<ng-template #placeholder>
  <app-solutions-placeholder (mainButton)="openCreateSolutionDialog()"></app-solutions-placeholder>
</ng-template>
