<div class="placeholder-container">
  <div class="placeholder">
    <img
      class="placeholder-image"
      src="{{ './assets/illustrations/' + variant + '.svg' }}"
      alt="Databag Illustration" />
    <span class="title-large primary-text">{{
      'organisms.placeholder.' + variant + '.title' | translate
    }}</span>
    <span class="body-medium on-surface-text">{{
      'organisms.placeholder.' + variant + '.description' | translate
    }}</span>
    <app-databag-create-button
      *ngIf="
        variant === 'noData'
      "
      (addDatabag)="addDatabag.emit()"
      [type]="'primary'">
    </app-databag-create-button>

    <app-solution-create-button
      *ngIf="
        variant === 'noSolution'
      "
      (addSolution)="addSolution.emit()"
      [type]="'primary'">
    </app-solution-create-button>
  </div>
</div>
