<div class="placeholder-container">
  <div class="placeholder">
    <img
      [ngClass]="['placeholder-image-' + type]"
      src="{{ './assets/illustrations/' + type + '.svg' }}"
      alt="Databag Illustration" />
    <span class="title-large primary-text">{{
      'organisms.placeholder.' + type + '.title' | translate
    }}</span>
    <span class="body-medium on-surface-text">{{
      'organisms.placeholder.' + type + '.description' | translate
    }}</span>
    <app-databag-create-button
      *ngIf="
        type === 'noDataOnDatabags' ||
        type === 'noDataOnSolutions' ||
        type === 'noDataNoSolutionOnPredictions'
      "
      (addDatabag)="addDatabag.emit()"
      [type]="'primary'">
    </app-databag-create-button>

    <app-solution-create-button
      *ngIf="
        type === 'noSolutionOnSolutions' ||
        type === 'selectedDataHasNoSolutionsOnSolutions' ||
        type === 'selectedDataHasNoSolutionOnPrediction'
      "
      (addSolution)="addSolution.emit()"
      [type]="'primary'">
    </app-solution-create-button>

    <!-- <app-new-button 
        *ngIf="type === 'noDataOnDatabags' "
        [type]="buttonTypes.primary"
        [size]="'medium'"
        [ariaLabel]="'organisms.placeholder.no_databag_on_databags.button' | translate"
        (click)="addSolutionButton.emit($event)">
        {{ 'organisms.placeholder.no_databag_on_databags.button' | translate }}
      </app-new-button> -->
    <!-- <app-button
        variant="raised"
        class="main-button"
        id="add-solution-button-empty"
        color="primary"
        icon="lightbulb_outline"
        data-testid="add-solution">
        {{ 'solution.create' | translate }}
      </app-button> -->
  </div>
</div>
