<div class="dialog-container">
  <div class="headline mat-dialog-header">
    <h5 mat-dialog-title>{{"dialog.define_solver.title" | translate}}</h5>
    <button mat-icon-button matDialogClose="true" class="close-button bg-primary on-surface-high" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <form id="ngForm" class="input-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>{{"dialog.define_solver.label" | translate}}</mat-label>
        <input matInput type="string" placeholder="{{'dialog.define_solver.label' | translate}}" required
               name="databag_name" [(ngModel)]="solution.name" #databag_name="ngModel"
               [ngClass]="{'is-invalid': f.submitted && databag_name.invalid}">
      </mat-form-field>
      <mat-divider class="divider"></mat-divider>
      <span class="mat-body-1 on-surface-medium">{{"dialog.define_solver.subtitle_solver" | translate}}</span>
    </form>
    <mat-list>
      <mat-list-item
        *ngFor="let tmp of solver"
        class="pointer bg-primary"
        [ngClass]="solution.solver === tmp.name ? 'active' : ''"
        (click)="selectSolver(tmp)"
      >
        <div>
          <h6 class="on-surface-high">
            {{tmp.name}}
          </h6>
          <p class="mat-subheading-2 on-surface-medium">
            {{tmp.description}}
          </p>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-icon-button class="back-button" [disableRipple]="true" (click)="back()" [disabled]="submitting">
      <mat-icon>arrow_back_ios</mat-icon>
      {{"dialog.define_solver.back_button" | translate}}
    </button>
    <div class="button-spacer"></div>
    <mat-spinner color="accent" *ngIf="submitting" [diameter]="40" mode="indeterminate" class="spinner"></mat-spinner>
    <button mat-raised-button color="primary" [disabled]="submitting" class="main-button" form="ngForm" type="submit">
      {{"dialog.define_solver.main_button" | translate}}
    </button>
  </mat-dialog-actions>
</div>
