<app-dialog-header (closeDialog)="close()">
  {{ 'solution.settings' | translate }}
</app-dialog-header>

<mat-dialog-content>
  <form
    id="ngForm"
    class="dialog-form"
    name="form"
    (ngSubmit)="(f.form.valid)"
    #f="ngForm">
    <app-dialog-section>
      <div title>{{ 'solution.placeholder' | translate }}</div>
      <div>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="string"
            required
            name="solution-name"
            [(ngModel)]="solution.name"
            #solution_name="ngModel" />
        </mat-form-field>
      </div>
    </app-dialog-section>

    <app-dialog-section>
      <div title>{{ 'solution.detail.input_fields' | translate }}</div>
      <div>
        <mat-chip-listbox>
          <mat-chip-option *ngFor="let input_fields of solution.inputFields">{{
            input_fields
          }}</mat-chip-option>
        </mat-chip-listbox>
      </div>
    </app-dialog-section>

    <app-dialog-section>
      <div title>{{ 'solution.detail.output_fields' | translate }}</div>
      <div>
        <mat-chip-listbox>
          <mat-chip-option
            *ngFor="let output_fields of solution.outputFields"
            >{{ output_fields }}</mat-chip-option
          >
        </mat-chip-listbox>
      </div>
    </app-dialog-section>

    <app-dialog-section>
      <div title>{{ 'solver.name' | translate }}</div>
      <div>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="string"
            disabled
            name="solver-name"
            [(ngModel)]="solution.solver"
            #solver_name="ngModel" />
        </mat-form-field>
      </div>
    </app-dialog-section>

    <app-dialog-section *ngIf="solution.status">
      <div title>{{ 'solution.detail.status' | translate }}</div>
      <div>
        {{ solution.status | translate }}
      </div>
    </app-dialog-section>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-icon-button
    class="delete-button"
    color="primary"
    type="button"
    (click)="delete()">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <a
    *ngIf="solution.modelUrl"
    [href]="solution.modelUrl"
    target="_blank"
    mat-icon-button
    color="primary"
    id="download-model-link">
    <mat-icon>download</mat-icon>
  </a>
  <button
    *ngIf="solution.predictionTemplateUrl"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="createPrediction()">
    {{ 'prediction.action' | translate }}
  </button>
  <button
    *ngIf="solution.id"
    mat-raised-button
    color="primary"
    type="submit"
    [routerLink]="['solutions', solution.id, 'predictions']"
    (click)="close()">
    {{ 'prediction.plural' | translate }}
  </button>
  <button
    id="solution-update-button"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="update()"
    [disabled]="!f.valid">
    {{ 'action.update' | translate }}
  </button>
</mat-dialog-actions>
