<app-dialog-header (closeDialog)="close()">
  {{ 'solution.settings' | translate }}
</app-dialog-header>

<mat-dialog-content>
  <form
    id="ngForm"
    class="dialog-form"
    name="form"
    (ngSubmit)="(f.form.valid)"
    #f="ngForm">
    <app-dialog-section>
      <div title>{{ 'solution.placeholder' | translate }}</div>
      <div>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="string"
            required
            name="solution-name"
            [(ngModel)]="solution.name"
            #solution_name="ngModel" />
        </mat-form-field>
      </div>
    </app-dialog-section>

    <app-dialog-section>
      <div title>{{ 'solution.detail.input_fields' | translate }}</div>
      <div>
        <mat-chip-list>
          <mat-chip *ngFor="let input_fields of solution.inputFields">{{
            input_fields
          }}</mat-chip>
        </mat-chip-list>
      </div>
    </app-dialog-section>

    <app-dialog-section>
      <div title>{{ 'solution.detail.output_fields' | translate }}</div>
      <div>
        <mat-chip-list>
          <mat-chip *ngFor="let output_fields of solution.outputFields">{{
            output_fields
          }}</mat-chip>
        </mat-chip-list>
      </div>
    </app-dialog-section>

    <app-dialog-section>
      <div title>{{ 'solver.name' | translate }}</div>
      <div>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="string"
            disabled
            name="solver-name"
            [(ngModel)]="solution.solver"
            #solver_name="ngModel" />
        </mat-form-field>
      </div>
    </app-dialog-section>

    <app-dialog-section *ngIf="solution.status">
      <div title>{{ 'solution.detail.status' | translate }}</div>
      <div>
        {{ solution.status | translate }}
      </div>
    </app-dialog-section>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <a
    [href]="solution.modelUrl"
    target="_blank"
    mat-raised-button
    color="primary"
    id="download-model-link">
    {{ 'action.download' | translate }}
  </a>

  <button
    mat-stroked-button
    class="delete-button"
    color="warn"
    type="button"
    (click)="delete()">
    {{ 'action.delete' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="update()"
    [disabled]="!f.valid">
    {{ 'action.update' | translate }}
  </button>
</mat-dialog-actions>
