<app-shared-dialog-header (closeDialog)="close()">
  {{"solution.create" | translate}}
</app-shared-dialog-header>

<mat-horizontal-stepper #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
  <mat-step label="{{'problem.name' | translate}}"
            completed="{{stepperStep>0}}" >
    <mat-dialog-content>
      <app-shared-dialog-section>
        <div description>{{"dialog.section.problem.description" | translate}}</div>
        <mat-list id="define-output-list">
          <ng-container *ngFor="let column of databag.columns">
            <mat-list-item
              class="bg-primary"
              *ngIf="column.type==='category'"
              [ngClass]="solution?.outputFields?.includes(column?.name || '') ? 'active' : ''"
              (click)="selectDatabag(column.name)">
              <app-shared-list-item>
                <div> {{column.name}} </div>
                <div description> {{column.type}}</div>
              </app-shared-list-item>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </app-shared-dialog-section>
    </mat-dialog-content>
  </mat-step>

  <mat-step completed="false" label="Settings">
    <mat-dialog-content>
      <app-shared-dialog-section>
        <form id="ngForm" class="input-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>{{"solution.placeholder" | translate}}</mat-label>
            <input id="define-solver-name-input"
                   matInput type="string"
                   placeholder="{{'solution.placeholder' | translate}}"
                   required
                   name="databag_name" [(ngModel)]="solution.name" #databag_name="ngModel"
                   [ngClass]="{'is-invalid': f.submitted && databag_name.invalid}">
          </mat-form-field>
        </form>
      </app-shared-dialog-section>

      <app-shared-dialog-section>
        <div title>{{"dialog.section.solver.description" | translate}}</div>
        <mat-list>
          <mat-list-item
            id="define-solver-list"
            *ngFor="let solver of solvers"
            class="pointer bg-primary"
            [ngClass]="solution.solver === solver.name ? 'active' : ''"
            (click)="selectSolver(solver)"
          >
            <div>
              <h6 class="on-surface-high">
                {{solver.name}}
              </h6>
              <p class="mat-subheading-2 on-surface-medium">
                {{solver.description}}
              </p>
            </div>
          </mat-list-item>
        </mat-list>
      </app-shared-dialog-section>
    </mat-dialog-content>
  </mat-step>
</mat-horizontal-stepper>

<div *ngIf="stepperStep === 0; then nextButton else createButton"></div>

<ng-template #nextButton>
  <mat-dialog-actions align="end">
    <button id="define-output-next-button"
            mat-raised-button color="primary"
            class="main-button"
            (click)="nextPageClick(stepper)"
            [disabled]="!(solution.outputFields)">
      {{"action.next_step" | translate}}
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #createButton>
  <mat-dialog-actions align="end">
    <button mat-icon-button
            class="back-button"
            [disableRipple]="true"
            (click)="back(stepper)"
            [disabled]="submitting">
      <mat-icon>arrow_back_ios</mat-icon>
      {{"action.previous_step" | translate}}
    </button>
    <div class="button-spacer"></div>
    <mat-spinner color="accent" *ngIf="submitting" [diameter]="40" mode="indeterminate" class="spinner"></mat-spinner>
    <button
      id="define-solver-next-button"
      mat-raised-button color="primary"
      [disabled]="submitting || !(solution.solver) || !(solution.name)"
      class="main-button"
      form="ngForm"
      type="submit">
      {{"solution.create" | translate}}
    </button>
  </mat-dialog-actions>
</ng-template>
