
.back-button {
  align-self: center;
  background: none;
}

.button-spacer {
  flex: auto;
}

.pointer {
  cursor: pointer;
}

.spinner {
  margin: 0 10px 0 35px;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

:host ::ng-deep .mat-horizontal-content-container {
    padding:0 !important;
}
