:host {
  width: 100%;
}

.actions {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .select-section,
  .button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-bottom: 5rem;
}
