<app-os4ml-default-template data-testid="databag-page">
  <h1 header class="headline-large primary-text">
    Solution: {{ mockSolution.name }}
    <mat-icon>edit</mat-icon>
  </h1>
  <div nav class="actions">
    <div class="select-section"></div>
    <div class="button-section">
      <app-solution-create-button [type]="'text'"> </app-solution-create-button>
      <app-prediction-create-button [type]="'primary'">
      </app-prediction-create-button>
    </div>
  </div>
  <div main class="main-grid">
    <div class="left-row">
      <app-solution-detail-input
        [transferLearningSettings]="
          mockSolution.transferLearningSettings ?? []
        ">
      </app-solution-detail-input>
    </div>
    <div class="right-row">
      <app-solution-detail-output
        [combined]="mockSolution.metrics?.combined ?? 0"
        [details]="mockSolution.metrics?.details ?? []">
      </app-solution-detail-output>
      <app-solution-detail-dependencies></app-solution-detail-dependencies>
      <app-solution-detail-dowload-model></app-solution-detail-dowload-model>cd
      <app-solution-detail-delete-solution></app-solution-detail-delete-solution>
    </div>
  </div>
</app-os4ml-default-template>
