<app-dialog-header (closeDialog)="close()">
  {{ 'dialog.get_started.title' | translate }}
</app-dialog-header>

<mat-horizontal-stepper #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
  <mat-step
    label="{{ 'databag.name' | translate }}"
    completed="{{ stepperStep > 0 }}">
    <mat-dialog-content>
      <app-create-databag
        (databagChange)="databagUpdate($event)"
        #createDatabagComponent></app-create-databag>
    </mat-dialog-content>
  </mat-step>

  <mat-step
    label="{{ 'problem.name' | translate }}"
    completed="{{ stepperStep > 1 }}">
    <mat-dialog-content>
      <app-dialog-section>
        <div description>
          {{ 'dialog.section.problem.description' | translate }}
        </div>
        <app-choose-databag-column
          *ngIf="!!databag.columns"
          [databag]="databag"
          (selectedColumnChange)="
            selectOutputColumn($event)
          "></app-choose-databag-column>
      </app-dialog-section>
    </mat-dialog-content>
  </mat-step>

  <mat-step completed="false" label="{{ 'solution.name' | translate }}">
    <mat-dialog-content>
      <app-dialog-section>
        <form
          id="ngForm"
          class="input-form"
          name="form"
          (ngSubmit)="(f.form.valid)"
          #f="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'solution.placeholder' | translate }}</mat-label>
            <input
              matInput
              type="string"
              placeholder="{{ 'solution.placeholder' | translate }}"
              required
              name="databag_name"
              [(ngModel)]="solution.name"
              #solution_name="ngModel"
              [ngClass]="{
                'is-invalid': f.submitted && solution_name.invalid
              }" />
          </mat-form-field>
        </form>
      </app-dialog-section>

      <app-dialog-section>
        <div description>
          {{ 'dialog.section.solver.description' | translate }}
        </div>
        <app-choose-solver
          (selectedSolverChange)="selectSolver($event)"></app-choose-solver>
      </app-dialog-section>
    </mat-dialog-content>
  </mat-step>
</mat-horizontal-stepper>

<mat-dialog-actions align="end">
  <div *ngIf="stepperStep > 0">
    <button
      mat-icon-button
      class="back-button"
      [disableRipple]="true"
      (click)="back(stepper)">
      <mat-icon>arrow_back_ios</mat-icon>
      {{ 'action.previous_step' | translate }}
    </button>
  </div>
  <div class="button-spacer"></div>
  <app-status-spinner
    *ngIf="runningSpinner"
    [status]="
      databag.status || 'message.pipeline.default' | translate
    "></app-status-spinner>
  <button
    id="add-databag-main-button"
    mat-raised-button
    color="primary"
    class="main-button"
    type="submit"
    (click)="next(stepper, createDatabagComponent)"
    [disabled]="isDisabled(createDatabagComponent, solution_name.valid)">
    <div *ngIf="stepperStep >= 2">{{ 'action.last_step' | translate }}</div>
    <div *ngIf="stepperStep < 2">{{ 'action.next_step' | translate }}</div>
  </button>
</mat-dialog-actions>
