<app-os4ml-dialog-template>
  <ng-container header>
    <h1 header id="dialog-title" class="headline-medium primary-text">
      {{ 'pages.databag_create_dialog.title' | translate }}
    </h1>
    <app-icon-button
      [ariaLabel]="'pages.databag_create_dialog.button.close' | translate"
      data-testid="close-button"
      (click)="close()"
      icon="close"
      color="accent">
    </app-icon-button>
  </ng-container>
  <app-databags-create-form
    *ngIf="databagCreateStatus === DatabagCreateStatusEnum.Input"
    (submitDatabag)="submitDatabag($event)"
    main>
  </app-databags-create-form>
  <div
    main
    *ngIf="
      databagCreateStatus === DatabagCreateStatusEnum.Uploading ||
      databagCreateStatus === DatabagCreateStatusEnum.Done
    ">
    <app-uploading-files
      [fileName]="uploadingFileName"
      [progress]="(databagUploadProgress$ | async) ?? 0"
      [uploadDone]="databagCreateStatus === DatabagCreateStatusEnum.Done"
      (finishUpload)="finishUpload()"
      (cancelUpload)="close()"></app-uploading-files>
  </div>
</app-os4ml-dialog-template>
