:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .label-upload-done {
    transition: color 0.3s ease-in-out;
    color: var(--md-custom-color-on-processing-status-done);
  }

  .cancel-button-row {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
