<h2 class="headline-medium primary-text">
  {{ 'organisms.solution-detail-download-model.title' | translate }}
</h2>
<div class="content">
  <div class="body-medium on-background-text">
    {{ 'organisms.solution-detail-download-model.description' | translate }}
  </div>
  <app-new-button
    (click)="downloadModel.emit()"
    [disabled]="disabled"
    [variant]="'secondary'"
    [size]="'medium'"
    [icon]="'download'"
    [ariaLabel]="'organisms.databag_create_button.button' | translate">
    {{ 'organisms.solution-detail-download-model.button' | translate }}
  </app-new-button>
</div>
