:host {
  width: 100%;
}

.dialog-element-divider {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dialog-element-content {
  padding-left: 30px;
  padding-right: 30px;
}

.dialog-element-header {
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
}
