.main-button {
  align-self: end;
  margin-left: 10px;
}

.back-button {
  align-self: center;
  background: none;
}

.button-spacer {
  flex: auto;
}

.main-button {
  align-self: end;
  margin-left: 10px;
}
