run = https://raw.githubusercontent.com/kubeflow/pipelines/master/backend/api/swagger/run.swagger.json
task = https://raw.githubusercontent.com/kubeflow/pipelines/master/backend/api/swagger/task.swagger.json
kfp = https://raw.githubusercontent.com/kubeflow/pipelines/master/backend/api/swagger/pipeline.swagger.json
kfp_upload = https://raw.githubusercontent.com/kubeflow/pipelines/master/backend/api/swagger/pipeline.upload.swagger.json
kfp_single_file = https://raw.githubusercontent.com/kubeflow/pipelines/master/backend/api/swagger/kfp_api_single_file.swagger.json
job = https://raw.githubusercontent.com/kubeflow/pipelines/master/backend/api/swagger/job.swagger.json
auth = https://raw.githubusercontent.com/kubeflow/pipelines/master/backend/api/swagger/auth.swagger.json
experiment = https://raw.githubusercontent.com/kubeflow/pipelines/master/backend/api/swagger/experiment.swagger.json
