.nav-item-extended {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: auto
}

.bag-list {
  margin-top: 10px;
}

.databag-add-button {
  float: right !important;
  margin-top: 10px;
}
