<mat-expansion-panel expanded>
  <mat-expansion-panel-header class="mat-button">
    <mat-panel-title>
      <span>{{"page.databag.list.title" | translate}}</span>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-nav-list class="bag-list">
    <mat-list-item
      [ngClass]="isSameDatabag(selectedDatabag, databag)? 'active': ''"
      *ngFor="let databag of databags"
      (click)="changeSelectedDatabag(databag)">
      <div class="nav-item-extended">
        <span class="mat-overline on-surface-disabled">{{formatTimestamp(databag.creationTime)}}</span>
        <span class="mat-subheading-2">{{databag.databagName}}</span>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <button style="float:right; margin-top: 10px;" mat-mini-fab class="fab-button" color="primary" (click)="openAddDialog()"><mat-icon>add</mat-icon></button>
</mat-expansion-panel>
