<div class="dialog-container">
  <div class="headline mat-dialog-header">
    <h5 mat-dialog-title>{{"dialog.edit_databag.title" | translate}}</h5>
    <button mat-icon-button (click)="close()" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <form id="ngForm" class="input-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>{{"dialog.edit_databag.label" | translate}}</mat-label>
        <input matInput type="string" placeholder="{{'dialog.define_databag.placeholder' | translate}}" required
               name="databag_name" [(ngModel)]="databag.databagName" #databag_name="ngModel"
               [ngClass]="{'is-invalid': f.submitted && databag_name.invalid}">
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>
      <mat-divider class="divider"></mat-divider>
      <span class="mat-body-1 on-surface-medium">{{"dialog.edit_databag.columns" | translate}}</span>
      <div class="columns">
        <mat-form-field *ngFor="let column of databag.columns" appearance="outline">
          <mat-label>{{column.name}}</mat-label>
          <mat-select [(ngModel)]="column.type" name="{{column.name}}" required #column_name="ngModel"
          [ngClass]="{'is-invalid': f.submitted && column_name.invalid}">
            <mat-option *ngFor="let type of mlTypesArray" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      color="warn"
      type="button"
      (click)="delete()"
    >
      {{"dialog.edit_databag.delete_button" | translate}}
    </button>
    <button
      mat-raised-button
      form="ngForm"
      color="primary"
      type="submit"
    >
      {{"dialog.edit_databag.main_button" | translate}}
    </button>
  </mat-dialog-actions>
</div>
