<app-dialog-header (closeDialog)="close()">
  <span class="on-surface-text">{{ 'solution.detail.title' | translate }}</span>
</app-dialog-header>

<mat-dialog-content>
  <form
    id="ngForm"
    class="dialog-form"
    name="form"
    (ngSubmit)="(f.form.valid)"
    #f="ngForm">
    <app-dialog-section>
      <div title>{{ 'solution.detail.solution_name' | translate }}</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="string"
            required
            name="solution-name"
            [(ngModel)]="solution.name"
            #solution_name="ngModel" />
        </mat-form-field>
      </div>
    </app-dialog-section>

    <app-dialog-section>
      <div title>{{ 'solution.detail.input_fields' | translate }}</div>
      <div>
        <mat-chip-listbox>
          <mat-chip-option
            disabled
            *ngFor="let input_fields of solution.inputFields"
            >{{ input_fields }}</mat-chip-option
          >
        </mat-chip-listbox>
      </div>
    </app-dialog-section>

    <app-dialog-section>
      <div title>{{ 'solution.detail.output_fields' | translate }}</div>
      <div>
        <mat-chip-listbox>
          <mat-chip-option
            disabled
            *ngFor="let output_fields of solution.outputFields"
            >{{ output_fields }}</mat-chip-option
          >
        </mat-chip-listbox>
      </div>
    </app-dialog-section>

    <app-dialog-section>
      <div title>{{ 'solver.name' | translate }}</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="string"
            disabled
            name="solver-name"
            [(ngModel)]="solution.solver"
            #solver_name="ngModel" />
        </mat-form-field>
      </div>
    </app-dialog-section>

    <app-dialog-section *ngIf="solution.status">
      <div title>{{ 'solution.detail.status' | translate }}</div>
      <div>
        {{ solution.status | translate }}
      </div>
    </app-dialog-section>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <app-icon-button
    data-testid="solution-delete-button"
    id="delete-solution-button"
    color="primary"
    icon="delete_forever"
    (click)="deleteSolution(solution.id!)">
  </app-icon-button>
  <app-icon-button
    *ngIf="solution | isSolutionDone"
    data-testid="solution-model-button"
    color="primary"
    icon="download"
    (click)="downloadModel(downloadModelLink)">
  </app-icon-button>
  <a download target="_blank" hidden aria-hidden="true" #downloadModelLink> </a>

  <app-button
    id="predictions-page-link-button"
    *ngIf="solution.id && (solution | isSolutionDone)"
    color="primary"
    variant="raised"
    (click)="createPrediction()">
    {{ 'prediction.plural' | translate }}
  </app-button>
  <app-button
    data-testid="solution-update-button"
    id="solution-update-button"
    variant="raised"
    color="primary"
    (click)="update()"
    [disabled]="!f.valid">
    {{ 'action.update' | translate }}
  </app-button>
</mat-dialog-actions>
