<table
  mat-table
  [dataSource]="transferLearningModels"
  data-testid="transfer-learning-models-table">
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{
        'organisms.transfer_learning_models_table.column_header.transfer_learning_label'
          | translate
      }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.label }}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{
        'organisms.transfer_learning_models_table.column_header.transfer_learning_type'
          | translate
      }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>
  <ng-container matColumnDef="origin">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{
        'organisms.transfer_learning_models_table.column_header.transfer_learning_origin'
          | translate
      }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="surface primary-text">
      {{ 'organisms.prediction_data_table.column_header.actions' | translate }}
    </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    data-testid="prediction-item"
    mat-row
    *matRowDef="let row; columns: displayedColumns"></tr>
</table>
