<app-dialog-header (closeDialog)="close()">
  <span class="primary-text">{{ data.titleKey | translate }}</span>
</app-dialog-header>

<app-dialog-section>
  <span class="on-surface-variant-text">{{ data.messageKey | translate }}</span>
</app-dialog-section>

<mat-dialog-actions align="end">
  <app-status-spinner *ngIf="submitting"></app-status-spinner>
  <app-button
    data-testid="confirm-popup-button"
    id="confirm-popup-button"
    variant="stroked"
    color="warn"
    type="button"
    (click)="submit()"
    [disabled]="submitting"
    [tabIndex]="-1">
    {{ 'action.delete' | translate }}
  </app-button>
  <app-button
    variant="raised"
    color="primary"
    class="main-button"
    [disabled]="submitting"
    [tabIndex]="-1"
    (click)="close()">
    {{ 'action.cancel' | translate }}
  </app-button>
</mat-dialog-actions>
