<app-loader-spinning-planet> </app-loader-spinning-planet>
<div
  class="label-small on-surface-text"
  [class.label-upload-done]="progress === 100">
  {{ fileName }}
</div>
<mat-progress-bar
  aria-label="'organisms.uploading_files.progress_bar.aria_label' | translate"
  mode="determinate"
  aria-valuemin="0"
  aria-valuemax="100"
  [value]="progress">
</mat-progress-bar>
<div class="cancel-button-row">
  <app-new-button
    (click)="cancelUpload.emit()"
    *ngIf="!(progress === 100)"
    variant="text"
    size="small"
    [ariaLabel]="
      'organisms.uploading_files.cancel_upload.aria_label' | translate
    "
    data-testid="add-solution">
    {{ 'organisms.uploading_files.cancel_upload.button' | translate }}
  </app-new-button>
</div>
<app-documentation-hint-text></app-documentation-hint-text>
<app-new-button
  [dataTestid]="'finish-upload'"
  (click)="finishUpload.emit()"
  [disabled]="!uploadDone"
  [size]="'medium'"
  [ariaLabel]="
    'organisms.uploading_files.finish_upload.aria_label' | translate
  ">
  {{ 'organisms.uploading_files.finish_upload.button' | translate }}
</app-new-button>
