<div class="dialog-container">
  <div class="headline mat-dialog-header">
    <h5 mat-dialog-title>{{"dialog.define_output.title" | translate}}</h5>
    <button mat-icon-button matDialogClose="true" class="close-button bg-primary on-surface-high" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div class="description">
      <span>{{"dialog.define_output.description" | translate}}</span>
    </div>
    <mat-list>
      <mat-list-item class="bg-primary" *ngFor="let column of columns">
        <app-solution-list-item
          class="solution-item"
          [column]="column"
          [disabled]="solution?.inputFields?.includes(column.name || '') || false"
          (selectedChange)="selectionChanged(column.name)"
          [selected]="solution?.outputFields?.includes(column?.name || '') || false"
        >
        </app-solution-list-item>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-icon-button class="back-button" [disableRipple]="true" (click)="back()">
      <mat-icon>arrow_back_ios</mat-icon>
      {{"dialog.define_databag.back_button" | translate}}
    </button>
    <div class="button-spacer"></div>
    <button mat-raised-button color="primary" class="main-button" (click)="nextPageClick()">
      {{"dialog.define_output.main_button" | translate}}
    </button>
  </mat-dialog-actions>
</div>
