<table mat-table [dataSource]="databags" data-testid="databag-table">
  <ng-container matColumnDef="databagName">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="surface primary-text"
      i18n="@@databag.table.name">
      Databag name
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="features">
    <th mat-header-cell *matHeaderCellDef i18n="@@databag.table.features">
      Features
    </th>
    <td mat-cell *matCellDef="let element">{{ element.numberColumns }}</td>
  </ng-container>
  <ng-container matColumnDef="samples">
    <th mat-header-cell *matHeaderCellDef i18n="@@databag.table.samples">
      Samples
    </th>
    <td mat-cell *matCellDef="let element">{{ element.numberRows }}</td>
  </ng-container>
  <ng-container matColumnDef="creationTime">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="surface primary-text"
      i18n="@@databag.table.runtim">
      Runtime
    </th>
    <td mat-cell *matCellDef="let element">
      <span class="mat-body-2 on-surface-text">
        <app-runtime-indicator
          [creationTime]="element.creationTime"
          [completionTime]="element.completionTime">
        </app-runtime-indicator>
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="creation">
    <th mat-header-cell *matHeaderCellDef i18n="@@databag.table.created">
      Created
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.creationTime | localizedDate: 'dd.MM.yyyy' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="surface primary-text"
      i18n="@@databag.table.status">
      Status
    </th>
    <td mat-cell *matCellDef="let element">
      <app-processing-status-indicator
        [shortStatus]="element.status | shortStatus">
      </app-processing-status-indicator>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef i18n="@@databag.table.actions">
      Actions
    </th>
    <td mat-cell *matCellDef="let element">
      <app-databag-context-menu
        [showDatabagDetailLink]="['/databags/detail', element?.id]"
        (createSolutionButton)="createSolutionButton.emit(element.id)"
        (deleteDatabagButton)="
          deleteDatabagButton.emit(element?.id)
        "></app-databag-context-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    data-testid="databag-item"></tr>
</table>
