<app-os4ml-default-template
  data-testid="transfer-learning-detail-page"
  [mainSmall]="true"
  *ngIf="transferLearningModel$ | async as transferLearningModel">
  <h1 header class="headline-large primary-text">
    Transfer learning models: {{ transferLearningModel.name }}
    <app-new-button
      data-testid="databag-rename-button"
      (click)="renameTransferLearningModel(transferLearningModel)"
      variant="text"
      size="medium"
      icon="edit"
      [ariaLabel]="'organisms.databag_create_button.label' | translate">
    </app-new-button>
  </h1>
  <div main class="main-grid">
    <app-transfer-learning-models-detail-settings
      [type]="transferLearningModel.type | stringToMLType"
      [origin]="transferLearningModel.origin | stringToTLMOrigin">
    </app-transfer-learning-models-detail-settings>
    <app-transfer-learning-models-detail-authorized-users
      *ngIf="
        (transferLearningModel.origin | stringToTLMOrigin) ===
        TransferLearningModelOrigins.solution
      "
      [modelShare]="transferLearningModel.modelShares ?? []"
      (addAuthorizedUser)="addAuthorizedUser(transferLearningModel)">
      <!--(removeAuthorizedUser)="removeAuthorizedUser(transferLearningModel, $event)"-->
    </app-transfer-learning-models-detail-authorized-users>
    <!--    <app-transfer-learning-models-detail-dependencies></app-transfer-learning-models-detail-dependencies>-->
    <app-transfer-learning-models-detail-delete-model
      *ngIf="
        (transferLearningModel.origin | stringToTLMOrigin) ===
        TransferLearningModelOrigins.solution
      "
      (deleteTransferLearningModel)="deleteTransferLearningModel()">
    </app-transfer-learning-models-detail-delete-model>
  </div>
</app-os4ml-default-template>
