<app-os4ml-dialog-template>
  <ng-container header>
    <h1 header id="dialog-title" class="headline-medium primary-text">
      {{ data.titleKey | translate }}
    </h1>
    <app-icon-button
      data-testid="close-button"
      (click)="close()"
      icon="close"
      color="accent">
    </app-icon-button>
  </ng-container>
  <ng-container main>
    <div class="text-align-center on-surface-text body-medium">
      {{ data.messageKey | translate }}
    </div>
    <div class="button-row">
      <app-new-button
        variant="secondary"
        size="medium"
        [ariaLabel]="'organisms.popup_confirm.cancel' | translate"
        [disabled]="submitting"
        [tabIndex]="-1"
        (click)="close()">
        {{ 'organisms.popup_confirm.cancel' | translate }}
      </app-new-button>
      <app-new-button
        data-testid="confirm-popup-button"
        id="confirm-popup-button"
        variant="warn"
        size="medium"
        (click)="submit()"
        [ariaLabel]="'organisms.popup_confirm.confirm'  | translate"
        [disabled]="submitting"
        [tabIndex]="-1">
        {{ 'organisms.popup_confirm.confirm' | translate }}
      </app-new-button>
    </div>
  </ng-container>
</app-os4ml-dialog-template>
