<app-os4ml-dialog-template>
  <ng-container header>
    <h1 header role="header" class="headline-large primary-text">
      {{ 'pages.solution_create_dialog.title' | translate }}
    </h1>
    <app-icon-button
      data-testid="close-button"
      (click)="close()"
      icon="close"
      color="accent">
    </app-icon-button>
  </ng-container>
  <app-solution-create-form
    main
    *ngIf="(databags$ | async) && !submitting"
    [selectedDatabagId]="data?.databagId"
    [databags]="(databags$ | async) ?? []"
    [transferLearningModels]="(transferLearningModels$ | async) ?? []"
    (submitSolution)="submit($event)">
  </app-solution-create-form>
  <app-loader-spinning-planet main *ngIf="submitting">
  </app-loader-spinning-planet>
</app-os4ml-dialog-template>
