<app-os4ml-dialog-template>
  <ng-container header>
    <h1 header role="header" class="headline-1 primary-text">
      {{ 'pages.solution_create_dialog.title' | translate }}
    </h1>
    <app-icon-button
      data-testid="close-button"
      (click)="close()"
      icon="close"
      color="accent">
    </app-icon-button>
  </ng-container>
  {{ data.databagId }}
  <app-solution-create-form
    main
    *ngIf="databags$ | async"
    [selectedDatabagId]="data.databagId"
    [databags]="(databags$ | async) ?? []"
    (submitSolution)="submit($event)">
  </app-solution-create-form>
  <ng-container footer>
    <mat-spinner
      color="primary"
      *ngIf="submitting"
      [diameter]="40"
      mode="indeterminate"
      class="spinner">
    </mat-spinner>
  </ng-container>
</app-os4ml-dialog-template>
