<div class="docs-text">
  <div class="text-align-center on-surface-text body-medium">
    {{ 'molecules.documentation-hint-text.title' | translate }}
  </div>
  <div class="text-align-center on-surface-text body-medium">
    {{ 'molecules.documentation-hint-text.upload-docs.text1' | translate }}
    <a
      [ariaLabel]="
        'molecules.documentation-hint-text.upload-docs.link-text' | translate
      "
      class="primary-text label-small"
      href="https://wogra-ag.github.io/os4ml-docs/"
      data-testid="documentation-link"
      target="_blank">
      {{
        'molecules.documentation-hint-text.upload-docs.link-text' | translate
      }}
    </a>
    {{ 'molecules.documentation-hint-text.upload-docs.text2' | translate }}
  </div>
</div>
