<div class="docs-text">
  <div
    class="text-align-center on-surface-text body-medium"
    i18n="@@documentationLink.title">
    Encountering issues with uploading?
  </div>
  <div
    class="text-align-center on-surface-text body-medium"
    i18n="@@documentationLink.text">
    Our<a
      i18n-aria-label="@@documentationLink.ariaLabel"
      aria-label="link to documentation"
      class="primary-text label-small"
      href="https://wogra-ag.github.io/os4ml-docs/"
      data-testid="documentation-link"
      target="_blank">
      documentation </a
    >can assist you - take a look for guidance.
  </div>
</div>
