<mat-step>
<app-shared-dialog-header (closeDialog)="close()">
  {{"dialog.define_databag.title" | translate}}
</app-shared-dialog-header>

<mat-dialog-content>
  <form id="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

    <app-shared-dialog-section>
      <mat-form-field appearance="outline">
        <mat-label>{{"dialog.edit_databag.label" | translate}}</mat-label>
        <input matInput type="string" placeholder="{{'dialog.define_databag.placeholder' | translate}}" required
               name="databag_name" [(ngModel)]="databag.databagName" #databag_name="ngModel"
               [ngClass]="{'is-invalid': f.submitted && databag_name.invalid}">
      </mat-form-field>
    </app-shared-dialog-section>

    <app-shared-dialog-section>
      <app-shared-databag-fields [databag]=databag>
      </app-shared-databag-fields>
    </app-shared-dialog-section>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-icon-button class="back-button" [disableRipple]="true" (click)="back()">
    <mat-icon>arrow_back_ios</mat-icon>
    {{"dialog.define_databag.back_button" | translate}}
  </button>
  <div class="button-spacer"></div>
  <button mat-raised-button form="ngForm" class="main-button" color="primary" type="submit" [disabled]="f.invalid">
    {{"dialog.define_databag.main_button" | translate}}
  </button>
</mat-dialog-actions>
</mat-step>
