<div class="page-wrapper">
  <div *ngIf="databags.length > 0; then content else placeholder"></div>
</div>

<ng-template #content>
  <div class="content-container">
    <app-shared-databag-choose [databags]="databags" [(selectedDatabag)]="selectedDatabag"></app-shared-databag-choose>
    <div *ngIf="selectedDatabag.databagName" class="solutions-template">
      <div class="solutions-taskbar">
        <div class="solutions-headline">
          <h6>Solutions</h6>
        </div>
      </div>

      <div class="list-container" *ngIf="getSolutionsInDatabag().length > 0; else solutionsPlaceholder">
        <app-shared-solutions-list [solutions]="getSolutionsInDatabag()" class="solution-list">
        </app-shared-solutions-list>
        <app-add-button (click)="addSolution()" class="add-solution-button" color="primary" type="submit">{{"solution.create" | translate}}</app-add-button>
      </div>

      <ng-template #solutionsPlaceholder>
        <app-shared-solution-placeholder (mainButton)="addSolution()">
        </app-shared-solution-placeholder>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #placeholder>
  <div class="placeholder-container">
    <app-shared-databag-placeholder (mainButton)="addDatabag()"></app-shared-databag-placeholder>
  </div>
</ng-template>
