<app-shared-dialog-header (closeDialog)="close()">
  {{"dialog.define_output.title" | translate}}
</app-shared-dialog-header>

<mat-dialog-content>
  <app-shared-dialog-section>
    <div description>{{"dialog.define_output.description" | translate}}</div>
    <mat-list>
      <ng-container *ngFor="let column of databag.columns">
        <mat-list-item class="bg-primary" *ngIf="column.type==='category'">
          <app-shared-toggle-item
            [column]="column"
            (selectedChange)="selectionChanged(column.name)"
            [selected]="solution?.outputFields?.includes(column?.name || '') || false"
            [disabled]="isDisabled(column.name!)"
          >
          </app-shared-toggle-item>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </app-shared-dialog-section>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" class="main-button" (click)="nextPageClick()">
    {{"dialog.define_output.main_button" | translate}}
  </button>
</mat-dialog-actions>
