:host {
  display: flex;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  .button-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
