.dialog-container {
  min-width: 400px;
  min-height: 635px;
  display: flex;
  flex-direction: column;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-item-description {
  display: flex;
  flex-direction: column;
}
