@use '@angular/material' as mat;
@use './components' as components;
@use './essentials/typography' as typography;
@use './essentials/color.scss' as colors;

@include mat.core();

$os4ml-light-theme: mat.define-light-theme(
  (
    color: (
      primary: colors.$os4ml-light-primary,
      accent: colors.$os4ml-light-accent,
      warn: colors.$os4ml-light-warn,
    ),
    typography: typography.$custom-typography,
    density: 0,
  )
);

$os4ml-light-variants: (
  success: colors.$os4ml-light-success,
  tertiary: colors.$os4ml-light-tertiary,
  info: colors.$os4ml-light-info,
);

@include mat.all-component-typographies(typography.$custom-typography);

.os4ml-light-theme {
  @include mat.all-component-themes($os4ml-light-theme);
  @include typography.additional-typography-settings;
  @include components.theme(
    $os4ml-light-theme,
    typography.$custom-typography,
    $os4ml-light-variants
  );
}
