<app-shared-dialog-header (closeDialog)="close()">
  {{"solution.settings" | translate}}
</app-shared-dialog-header>

<mat-dialog-content>
  <form id="ngForm" class="dialog-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm">
    <app-shared-dialog-section>
      <div title>{{"solution.placeholder" | translate}}</div>
      <div>
        <mat-form-field appearance="outline">
          <input matInput
                 type="string"
                 required
                 name="solution-name"
                 [(ngModel)]="solutionName"
                 #solution_name="ngModel"
          >
        </mat-form-field>
      </div>
    </app-shared-dialog-section>

    <app-shared-dialog-section>
      <div title>{{"solution.detail.input_fields" | translate}}</div>
      <div>
        <mat-chip-list>
          <mat-chip *ngFor="let input_fields of solution.inputFields">{{input_fields}}</mat-chip>
        </mat-chip-list>
      </div>
    </app-shared-dialog-section>

    <app-shared-dialog-section>
      <div title>{{"solution.detail.output_fields" | translate}}</div>
      <div>
        <mat-chip-list>
          <mat-chip *ngFor="let output_fields of solution.outputFields">{{output_fields}}</mat-chip>
        </mat-chip-list>
      </div>
    </app-shared-dialog-section>

    <app-shared-dialog-section>
      <div title>{{"solver.name" | translate}}</div>
      <div>
        <mat-form-field appearance="outline">
          <input matInput
                 type="string"
                 disabled
                 name="solver-name"
                 [(ngModel)]="solution.solver"
                 #solver_name="ngModel"
          >
        </mat-form-field>
      </div>
    </app-shared-dialog-section>

    <app-shared-dialog-section *ngIf="solution.status">
      <div title>{{"solution.detail.status" | translate}}</div>
      <div>
        {{solution.status | translate}}
      </div>
    </app-shared-dialog-section>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    *ngIf="(solution.status | shortStatus) === pipelineStatus.done "
    mat-raised-button
    color="primary"
    type="button"
    (click)="download()"
  >
    {{"action.download" | translate}}
  </button>
  <button
    mat-stroked-button
    class="delete-button"
    color="warn"
    type="button"
    (click)="delete()"
  >
    {{"action.delete" | translate}}
  </button>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="update()"
    [disabled]="!(f.valid)"
  >
    {{"action.update" | translate}}
  </button>
</mat-dialog-actions>
