@import 'src/app/material/essentials/color';

:host {
  display: block;
  min-width: 80px;
}

.status {
  display: inline;
  width: auto;
  border-radius: 8px;
  padding: 7px 12px 7px 12px;
}

.running {
  color: $primary-color;
  background-color: $primary-color-100;
}

.error {
  color: $warn-color;
  background-color: $warn-color-100;
}

.done {
  color: $success-color;
  background-color: $success-color-100;
}
