:host {
  display: block;
  min-width: 80px;
}

.status {
  display: inline;
  width: auto;
  border-radius: 8px;
  padding: 7px 12px 7px 12px;
}

.running {
  color: var(--md-custom-color-on-processing-status-running);
  background-color: var(--md-custom-color-processing-status-running);
}

.error {
  color: var(--md-custom-color-on-processing-status-error);
  background-color: var(--md-custom-color-processing-status-error);
}

.done {
  color: var(--md-custom-color-on-processing-status-done);
  background-color: var(--md-custom-color-processing-status-done);
}
