<app-new-button
  *ngIf="!isFAB"
  [variant]="variant"
  [size]="'medium'"
  [icon]="'add'"
  [disabled]="!!disabled"
  aria-label="Open dialog to create a databag"
  i18n-aria-label="@@databag.ariaLabels.openCreateDialog"
  (click)="addDatabag.emit()"
  >Create Databag
</app-new-button>

<app-icon-button
  *ngIf="isFAB"
  (click)="addDatabag.emit()"
  matTooltip="Create databag"
  i18n-matTooltip="@@databag.actions.create"
  aria-label="Open dialog to create a databag"
  i18n-aria-label="@@databag.ariaLabels.openCreateDialog"
  color="primary"
  icon="add">
</app-icon-button>
