table {
  width: 100%;
}

.button-add-databag {
  margin: 10px 0 10px 10px;
  float: right;
}

.input-filter {
  float: right;
}

.placeholder-container {
  display: flex;
  min-height: 366px;
  max-width: 483px;
  align-self: center;
  margin: 200px auto auto;
}
