<h2
  class="headline-medium primary-text"
  i18n="@@databag.detail.pipelineStatus.title">
  Pipeline status
</h2>
<div class="content">
  <div
    class="body-medium on-background-text"
    i18n="@@databag.detail.pipelineStatus.text">
    The pipeline status indicates the progress of your databag processing. Once
    the status is done, you can create a solution with the completed databag.
  </div>
  <app-processing-status-indicator
    data-testid="solution-status-indicator"
    [shortStatus]="status | shortStatus">
  </app-processing-status-indicator>
</div>
